@page "/Chat"
@layout ChatLayout
@using Microsoft.AspNetCore.SignalR.Client
@using Models
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor context
@implements IAsyncDisposable

<style>
    body {
        background: url("https://agineuralnet.blob.core.windows.net/panels/Panel_Chat520.png") no-repeat;
        background-position: left 40px top 10px; /* Offset margin */
        background-size: 400px 900px;
        background-color:#111111;
        opacity: 90%;
        color: blanchedalmond;
        border-radius: 5px;
    }

    .boxchatx {
        background:url("https://aineuralnet.blob.core.windows.net/banners/Banner_engr.png") no-repeat;
        padding: 0;
        margin: 0;
        position: absolute; /* edge of chat page */

    /*     background-color:mediumorchid; */
        top: 0px;
        left: 10px;
        width: 360px;
        height: 260px;
        font-size: 32px;
        text-align: center;
        background-size: cover;
    }

    boxdialoguex {
        background: url("https://aineuralnet.blob.core.windows.net/panels/Panel_luster.png") no-repeat;
        padding: 0;
        margin: 0;
        position: absolute; /* edge of chat page */
        top: 4px;
        left: 10px;
        width: 390px;
        height: 260px;
        font-size: 24px;
        text-align: center;
        background-size: cover;
    }

    boxdialoguecommx {
        background: url("https://aineuralnet.blob.core.windows.net/panels/Panel_luster.png") no-repeat;
        padding: 0;
        margin: 0;
        position: absolute; /* edge of chat page */
        top: 230px;
        left: 20px;
        width: 340px;
        font-size: 18px;
        text-align: center;
        background-size: cover;
    }

</style>



<!-- ************************************************************************************ -->
<!-- ****************** If you need a PANEL over the background ************************* -->
<!-- ************************************************************************************ -->

@* <boxchat>
    <div class="boxchat">
        <img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Chat_top.png"
             style="position:absolute; left:00px;top:10px;width:400px;opacity:70%;"> 
        <textarea style="font-size:18px;">
          text from boxchat
        </textarea>
    </div>
</boxchat> *@




@* <boxdialogue>
 <div class="boxdialogue" style="top:100px">
        <img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Chat_top.png"
             style="position:absolute; left:0px;top:4px;width:400px;opacity:100%;">

     <!-- ************************************************************************************ -->
     <!-- ************************ EXIT Chat button ****************************************** -->
     <!-- ************************************************************************************ -->

        <div style="position:absolute;top:15px;width:80px;left:0px;color:aquamarine;opacity:55%">
            <button type="button" @onclick="Send" disabled="@(!IsConnected)">X</button>
        </div>

    <!-- ************************************************************************************ -->
    <!-- ************************ Chat user name ******************************************** -->
    <!-- ************************************************************************************ -->
   
        <div style="position:absolute;top:15px;width:160px;left:120px;">
            <input @bind="usernameInput" type="text" class="form-control" placeholder="Your name" readonly="@isUserReadonly" maxlength="32" disabled />
        </div>
    
    <!-- ************************************************************************************ -->
    <!-- ************************ Chat send button ****************************************** -->
    <!-- ************************************************************************************ -->

        <div style="position:absolute;top:15px;width:80px;right:0px;color:aquamarine;opacity:55%;">
            <button type="button" @onclick="Send" disabled="@(!IsConnected)" >S</button>
        </div>

    <!-- ************************************************************************************ -->
    <!-- ************************ Chat "text" to send *************************************** -->
    <!-- ************************************************************************************ -->

        <div style="position:absolute;top:80px;width:360px;left:20px;">
            <textarea @bind="messageInput" class="form-control" placeholder="Start typing..."></textarea>
        </div>
  
 </div>
</boxdialogue> *@





<boxdialoguecomm>
 <div class="boxdialoguecomm" style="top:100px">

    <!-- ************************************************************************************ -->
    <!-- ************************ Chat comm blocks ****** relative to iframe Chat *********** -->
    <!-- ************************************************************************************ -->
   <div class="container overflow-auto shadow-sm p-3 mb-5 bg-white rounded border-light-rounded" 
        style="left:10px; height: 720px;width:380px;opacity:70%; ">

     @if (!userMessages.Any())
     {
        <p>No messages yet, start chatting!</p>
     }

     @foreach (var userMessage in userMessages)
     {
        <div class="row mb-3 d-flex @(userMessage.CurrentUser ? "justify-content-end" : "")">
            <div class="card shadow @(userMessage.CurrentUser ? "color-green mr-5" : "ml-5")" 
            style="margin-left: 10px; margin-right: 10px; width: 16rem;">
                <div class="card-header">
                    @(userMessage.CurrentUser ? "You" : userMessage.Username)
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item @(userMessage.CurrentUser ? "color-green" : "")">@userMessage.Message</li>
                </ul>
                <div class="card-footer">
                    <span class="small">@userMessage.DateSent.ToString("HH:mm | MMM dd")</span>
                </div>
            </div>
        </div>
     }
   </div> 
  </div>
</boxdialoguecomm>








@* <div>
    <boxchat>
        <div class="boxchat">
            <img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Fluer.png">
            <textarea style="font-size:32px;">
                print bottom
            </textarea>
        </div>
    </boxchat>


</div> *@

@* <boxdialoge>
    <div class="boxdialogue">
        <img src="https://agineuralnet.blob.core.windows.net/panels/Panel_luster.png"
             style="left:100px;top:330px;width:380px;height:280px;">
        <textarea style="font-size:18px;top:0px">
         Dialogue BOX
        </textarea>
    </div>
</boxdialoge> *@