<p>
  @{
    // call the drop down functions to populate 
    // their respective lists
    if (DDCounter == 0)
    {
      DropDownArtist();
      DropDownComposition();
      DropDownPhase();
      DropDownLocation();
      DDCounter++;
    }
  }
<h1 style="text-align: center; color: white">Image Upload:</h1>
  <form @onsubmit="OnSubmit">

    <label>
      Title:
      <input class="form-control" type = "text" list = "title" @bind="objartdata.ArtTitle" required/>
    </label><br>

        <label>
            Select Artist:
            <select class="form-control" @bind="objartdata.Artist_id" required>
                @foreach (var artist in artistlist)
                {
                    <option value="@artist.ArtistID"> @artist.Artist </option>
                }
            </select>
        </label><br>

        <label>
            Select Phase:
            <select class="form-control" @bind="objartdata.Phase_id" required>
                @foreach (var phase in phaselist)
                {
                    <option value="@phase.PhaseID"> @phase.Phase </option>
                }
            </select>
        </label><br>

        <label>
            Select Composition:
            <select class="form-control" @bind="objartdata.Compostion_id" required>
                @foreach (var composition in compositionlist)
                {
                    <option value="@composition.CompositionID"> @composition.Composition </option>
                }
            </select>
        </label><br>

        <label>
            Select Location:
            <select class="form-control" @bind="objartdata.Location_id" required>
                @foreach (var location in locationlist)
                {
                    <option value="@location.LocationID"> @location.Location </option>
                }
            </select>
        </label><br>

    <label>
      Narative:
      <input class="form-control" 
      type="<textarea rows=4 cols=88></textarea>" @bind="objartdata.Narative">
    </label><br><br><br><br>


        <div class="button-container">
            <div class="getFile-button">
                <InputFile class="input-file" OnChange="@HandleSelected" accept=".png, .jpg" required />
            </div>
            <button type="submit" class="upload-button"></button>
        </div>

    </form>

  @if(ImgUrl != null)
  {
    <span class="popuptext" id="myPopup">Success!</span>
  }
</p>

<style>
    .button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px; /* Adjust width as needed */
        position: relative; /* Required for absolute positioning */
    }

    .getFile-button {
        position: relative;
        width: 180px;
        height: 90px;
        background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/btn_GetFile.png");
        background-size: cover;
        box-shadow: 0 30px 60px rgba(0,0,0,.5);
    }

        .getFile-button input[type=file] {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

    .upload-button {
        position: relative;
        width: 180px;
        height: 90px;
        background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/btn_Upload.png");
        background-size: cover;
        box-shadow: 0 30px 60px rgba(0,0,0,.5);
    }
</style>


