@page "/Inbox"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _configuration
@inject NounService nounService
@inject IHttpContextAccessor context
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common;
@using IntelChat.Services;
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using ThreadingTask = System.Threading.Tasks.Task;

<style>
	/* Restrict memo UI inside the floating window */


	/* ****************** This is the inner box ********************** */
	/* ****************** This is the inner box ********************** */
	/* ****************** This is the inner box ********************** */
	.memo-container {
		position: absolute;
		top:0px;
		left:0px;
		width: 600px;
		height: 480px;
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Memo_send.png") no-repeat center;
		padding: 0px;
		overflow-y: auto;
	}

	.memo-textarea {
		color:black;
		position: absolute;
		top: 100px;
		left: 40px;
		width: 460px;
		height: 150px;
		border: 2px solid #cccccc;
		font-size: 16px;
		padding: 12px;
		box-sizing: border-box;
		border-radius: 4px;
		resize: none;
	}
</style>


<!-- ****************************************************** offset from BOX ************************************************ -->
<!-- ************ class="memo-container" style="position:absolute;left:400px;top:200px;opacity:70%;">*********************** -->
<div class="memo-container">

	<!-- ************************************************************************************ -->
	<!-- **************************   INBOX  *************** STYLE ************************** -->
	<!-- ************************************************************************************ -->

@* 	<select @onchange=ChangeInbox
			style="position:absolute;width:400px;display:block;text-align:center;height:500px;background-color:#c6d1ef;border-color:#abb4cd;left:40px;top:60px;opacity:70%;">
		<option value="" disabled selected>Inbox</option>
		@foreach (Memo memo in memos)
		{
			<option value="@memo.MemoDateTime">From: @memo.MemoPersonFrom | @memo.MemoDateTime</option>
		}
	</select> *@
	



	<!-- ************************************************************************************ -->
	<!-- **************************  MEMO  SEND  ******************************************** -->
	<!-- ************************************************************************************ -->

		<!-- ************************************************************************************ -->
		<!-- ************************** MEMO Sender ****************************************** -->
		<!-- ************************************************************************************ -->
		<div style="position:absolute;display:flex; width:400px;left:40px;top:20px;opacity:70%;">
		<label for="role_recipient" style="color:#000000;left:40px;">Sender: </label><br /><br />
			<select @onchange=OnRoleChanged name="role_recipient" style="color:#000000;left:45px;">
			<option value="self">Self</option>
			<option value="acad">POD Academy</option>
			<option value="admn">Administration</option>
			<option value="engr">Engineer</option>
			<option value="xprt">Domain Expert</option>
		</select>
		
		</div>

	<!-- ************************************************************************************ -->
	<!-- ************************** MEMO Reciver ****************************************** -->
	<!-- ************************************************************************************ -->

	<div style="position:absolute;width:400px;left:40px;top:50px;opacity:70%;">
		<label for="message_type" style="color:#000000;left:100px">Reciver: @ReadRoleFromPid(pid) </label>
	</div>

		<!-- ************************************************************************************ -->
		<!-- ************************** MEMO regarding ****************************************** -->
		<!-- ************************************************************************************ -->
        <div style="position:absolute; display: flex;width:400px;left:40px;top:80px;opacity:70%;">
		<label for="message_type" style="color:#000000;left:100px">Regarding: </label>
            <select @bind=messageType name="message_type" style="color:#000000;float:left:40px;">
                <option value="REMD">Reminder</option>
                <option value="QUES">Question</option>
                <option value="CONC">Concern</option>
                <option value="COMM">Comment</option>
                <option value="AFFM">Affirmation</option>
                <option value="MISC">Miscellaneous</option>
            </select>

       
        </div>


	<!-- ************************************************************************************ -->
	<!-- ************************** MEMO Time ****************************************** -->
	<!-- ************************************************************************************ -->

	<div style="position:absolute;width:400px;left:80px;top:200px;opacity:70%;">
		<label for="message_type" style="color:#000000;left:100px">TIME: @MessageTime </label>
	</div>



	<!-- ************************************************************************************ -->
	<!-- ************************** MEMO Total ****************************************** -->
	<!-- ************************************************************************************ -->

	<div style="position:absolute;width:400px;left:330px;top:200px;opacity:70%;">
		<label  for="message_type" style="color:#000000;left:100px">Total: @currentSenderMemo.Count / @(currentMemoIndex + 1)</label>
	</div>



	<!-- ************************************************************************************ -->
	<!-- ************************** MEMO TEXT AREA ****************************************** -->
	<!-- ************************************************************************************ -->

		<div style="position:absolute;left:76px;top:236px;">
			<textarea @bind=message style="font-size:18px;color:black;width:494px;height:160px;" /><br /><br />
		</div>

		<!-- ************************************************************************************ -->
		<!-- ************************** MEMO SEND *********************************************** -->
		<!-- ************************************************************************************ -->
		<div> 
			<button class="modal-btn" @onclick=CreateMemo
				style="position:absolute;top:410px;left:485px;height:30px;width:80px;background-color:darkred;border-radius:5px;border:3px;">	Send
			</button>



		<!-- ************************************************************************************ -->
		<!-- ************************** MEMO NEXT AND PERVIOUS BUTTONS *********************************************** -->
		<!-- ************************************************************************************ -->

		<button @onclick=ShowPreviousMemo style="position:absolute; width:20px; left:30px; top:265px; height:70px; background-color: transparent; border: none;">
			
		</button>


		<button @onclick=ShowPreviousMemo style="position:absolute; width:20px; left:30px; top:380px; height:70px; background-color:transparent; border: none; ">
		</button>
		</div>


	<!-- Chat Container ******************* for Iframes ***************** -->
	@if (isChatIframeVisible)
	{
		<!-- Chat Container ******************* this is the Outer Box ***************** -->
		<!-- Chat Container ******************* this is the Outer Box ***************** -->
		<!-- Chat Container ******************* this is the Outer Box ***************** -->

		<div style="position: absolute;
                top: @(chatIframePosition.Y)px;
                left: @(chatIframePosition.X)px;
                z-index: 1000;
				height: 1000px;
                width: 520px;
                border: 1px solid #ccc;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                background:white;">

			<!-- Draggable Crossbar for Chat -->
			<div style="display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 30px;
                    background-color: #f0f0f0;
                    padding: 5px;
                    border-bottom: 1px solid #ddd;
                    cursor: grab;"
				 @onmousedown="StartDraggingChat">
				<!-- Crossbar Label -->
				<span></span>
				<!-- Close Button for Chat -->
				<button style="background: none;
                           border: none;
                           color: #888;
                           cursor: pointer;
                           font-size: 16px;
                           padding: 0 5px;"
				@onmousedown:stopPropagation
						@onclick="HideChat">
					✖
				</button>
			</div>

			<!-- Chat Iframe -->
			<iframe src="@ChatiframeSource"
					style="width: 100%; height: 1000px; border: none;">
			</iframe>
		</div>
	}

	@if ( isDraggingChat)
	{
		<!-- Transparent Overlay for Global Drag Handling -->
		<div style="position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 9999;
                background: transparent;"
			 @onmousemove="OnMouseMoveGlobal"
			 @onmouseup="OnMouseUpGlobal">
		</div>
	}



</div>
