@page "/InterviewInbox"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _configuration
@inject NounService nounService
@inject IHttpContextAccessor context
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common;
@using IntelChat.Services;
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using ThreadingTask = System.Threading.Tasks.Task;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using System.IO;
@inject IJSRuntime JSRuntime



<style>
	/* Restrict RESPONSE UI inside the floating window */


	/* ****************** This is the inner box ********************** */
	/* ****************** This is the inner box ********************** */

	.upload-btn {
		position: absolute;
		top: 370px;
		left: 485px;
		height: 30px;
		width: 120px;
		background-color: darkred;
		border-radius: 5px;
		border: 3px;
		color: white;
	}

	.image-preview {
		position: absolute;
		top: 500px;
		left: 80px;
		width: 200px;
		height: 150px;
		object-fit: cover;
	}
	/* ****************** This is the inner box ********************** */
	.response-container {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 600px;
		height: 480px;
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Memo_send.png") no-repeat center;
		padding: 0px;
		overflow: hidden;
	}

	.memo-textarea {
		color: black;
		position: absolute;
		top: 100px;
		left: 40px;
		width: 460px;
		height: 150px;
		border: 2px solid #cccccc;
		font-size: 16px;
		padding: 12px;
		box-sizing: border-box;
		border-radius: 4px;
		resize: none;
	}
</style>


<!-- ****************************************************** offset from BOX ************************************************ -->
<!-- ************ class="memo-container" style="position:absolute;left:400px;top:200px;opacity:70%;">*********************** -->
<div class="response-container">


	<div style="position:absolute; top:80px; left:292px;align-items:center; padding: 6px 10px; font-weight: bold; align-items: center; z-index:100; opacity:90%">
		<span style="padding:6px; background:white; color:black; z-index:100">INTERVIEW MEMO</span>

	</div>


	<!-- ************************************************************************************ -->
	<!-- **************************   INBOX  *************** STYLE ************************** -->
	<!-- ************************************************************************************ -->

	@* 	<select @onchange=ChangeInbox
			style="position:absolute;width:400px;display:block;text-align:center;height:500px;background-color:#c6d1ef;border-color:#abb4cd;left:40px;top:60px;opacity:70%;">
		<option value="" disabled selected>Inbox</option>
		@foreach (Memo memo in memos)
		{
			<option value="@memo.MemoDateTime">From: @memo.MemoPersonFrom | @memo.MemoDateTime</option>
		}
	</select> *@




	<!-- ************************************************************************************ -->
	<!-- **************************  MEMO  SENDER  ******************************************** -->
	<!-- ************************************************************************************ -->

	<div style="position:absolute;width:400px;left:40px;top:10px;opacity:70%;">
		<label for="message_type" style="color:#000000;left:100px">Sender:@ReadRoleFromPid(@pid) | @pid </label>
	</div>

	<!-- ************************************************************************************ -->
	<!-- ************************** MEMO Reciver ****************************************** -->
	<!-- ************************************************************************************ -->
	<div style="position:absolute; display: flex;width:400px;left:40px;top:40px;opacity:70%;">
		<label for="role_recipient" style="color:#000000;left:40px;">Recipient: </label><br /><br />
		<select @bind=roleRecipient name="role_recipient" style="color:#000000;left:40px;background-color:#c6d1ef;">
			<option value=0>Self</option>
			<option value=18>POD Academy 18</option>
			<option value=14>User 14</option>
			<option value=3>User 3</option>
			<option value=13>Administration 13</option>
			<option value=17>Engineer 17</option>
			<option value=16>Domain Expert 16</option>
		</select>

		<label for="role_recipient" style="color:#000000;left:100px;">@roleRecipient</label>
	</div>


	<!-- ************************************************************************************ -->
	<!-- ************************** MEMO regarding ****************************************** -->
	<!-- ************************************************************************************ -->
	<div style="position:absolute; display: flex;width:400px;left:40px;top:100px;opacity:70%;">
		<label for="message_type" style="color:#000000;left:100px">Regarding: </label>
		<select @bind=messageType name="message_type" style="color:#000000;float:left:40px;">
			<option value="REMD">Reminder</option>
			<option value="QUES">Question</option>
			<option value="CONC">Concern</option>
			<option value="COMM">Comment</option>
			<option value="AFFM">Affirmation</option>
			<option value="MISC">Miscellaneous</option>
		</select>


	</div>


	<div style="position:absolute; display: flex;width:400px;left:40px;top:140px;opacity:70%;">
		<label for="message_type" style="color:#000000;left:100px">Priority: </label>
		<select @bind=priorityType name="message_type" style="color:#000000;float:left:40px;">
			<option value=0>low</option>
			<option value=1>Medium</option>
			<option value=3>High</option>
		
		</select>


	</div>

	@inject QuestionService question

	<div style="position:absolute; font-size:small; display: flex;width:400px;left:80px;top:420px;">

		<p><strong>Question Text:</strong> @question._currentQuestion.QuestionText</p>


	</div>

	
	

	

	
	<!-- ************************************************************************************ -->
	<!-- ************************** MEMO Title ****************************************** -->
	<!-- ************************************************************************************ -->

	<div style="position:absolute;width:200px;left:80px;top:200px;opacity:70%;">
		<label for="message_type" style="color:#000000;left:100px">@question.Label</label>
	</div>


	<div style="position:absolute;width:200px;left:330px;top:200px;opacity:70%;">
		<label for="message_type" style="color:#000000;left:100px">@question._currentQuestion.QuestionType</label>
	</div>

	<div style="position:absolute;width:200px;left:440px;top:200px;opacity:70%;">
		<label for="message_type" style="color:#000000;font-size:small; font-weight:400; left:100px">@DateTime.Now</label>
	</div>





	<!-- ************************************************************************************ -->
	<!-- ************************** MEMO TEXT AREA ****************************************** -->
	<!-- ************************************************************************************ -->

	<div style="position:absolute;left:76px;top:236px;">
		<textarea @bind=message style="font-size:18px;color:black;width:494px;height:160px;" /><br /><br />

	</div>

	

	<!-- ************************************************************************************ -->
	<!-- ************************** MEMO SEND *********************************************** -->
	<!-- ************************************************************************************ -->
	@if (!string.IsNullOrEmpty(imageUrl))
	{
		<div style="position:absolute;top:417px;left:300px; z-index:100">
			<div style="position:absolute;top:35px;font-size:12px;width:200px;color:#333;overflow:hidden;text-overflow:ellipsis;">
				@selectedFileName
			</div>
		</div>
	}



	<div style="position:absolute;top:75px;left:-30px; z-index:100">
		<InputFile OnChange="@OnFileSelected" accept=".jpg,.jpeg,.png"
				   style="display:none;" id="fileInput" />
		<button class="upload-btn" onclick="document.getElementById('fileInput').click(); return false;">
			Upload Image
		</button>

		@if (!string.IsNullOrEmpty(selectedFileName))
		{
			
		}
	</div>


	<div>
		<button class="modal-btn" @onclick=CreateMemo
				style="position:absolute;top:410px;left:485px;height:30px;width:80px;background-color:darkred;border-radius:5px;border:3px;">
			Send
		</button>

		@if (showResponseMessage)
		{
			<span style="position:absolute;top:420px;left:250px;color:green;font-weight:bold;">Message Sent!</span>
		}




	</div>

</div>
