@page "/Academy"
@inject NnetDbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/buttons/BG_Menu.png")no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		min-height: 100vh;
		width: 100%;
		opacity: 100%;
		color: blanchedalmond;
		background-color: #000000;
	}
</style>

<div class="role-menu">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#444444;font-size:24px">Pod: @pod</p><br>
	<p style="color:#444444;font-size:24px;top:48px;position:absolute">Pid: @pid</p>
	
	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY Banner ************************************ -->
	<!-- ************************************************************************************ -->
	<div class="titlebanner" style="z-index:1;top:10px;left:700px;position:absolute;">
		<img src="https://agineuralnet.blob.core.windows.net/background/Banner_acad.png" />
	</div>

    <!-- ********************************** STEAMPUNK VIDEO ********************************* -->
    <!-- ********************************** STEAMPUNK VIDEO ********************************* -->
    <!-- ********************************** STEAMPUNK VIDEO ********************************* -->
	<div style="top:180px; left:240px; position:absolute; overflow:hidden;brightness(80%);opacity:90% ">
	<iframe width="1280" height="720" src="https://www.youtube.com/embed/_Uj0kUBsrgs" title="Machines in Motion: The Steampunk City Transport System" 
	frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>



	<!-- ************************************************************************************ -->
	<!-- ******************************** TABLES ******************************************** -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Artifact?pod="+pod+"&pid="+pid))"
			style="top:300px;left:320px;height:60px;width:200px;">
		Artifact
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Artist?pod="+pod+"&pid="+pid))"
			style="top:380px;left:320px;height:60px;width:200px;">
		Artist
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Composition?pod="+pod+"&pid="+pid))"
			style="top:460px;left:320px;height:60px;width:200px;">
		Composition
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Phase?pod="+pod+"&pid="+pid))"
			style="top:540px;left:320px;height:60px;width:200px;">
		Phase
	</button>

	<!-- ************************************************************************************ -->
	<!-- ***************************** PROCESSES ******************************************** -->
	<!-- ************************************************************************************ -->




</div>


<div>
	<!-- ************************************************************************************ -->
	<!-- ***************************** MENU JUMP ************* ****************************** -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button"
			@onclick="@(() => _nav.NavigateTo("/User?pod=" + 3 + "&pid=" + 11))"
			style="position:absolute; top:60px; left:1560px; height:60px; width:260px; opacity:60%; color:darkred;z-index:1;">
		Mind Voyager
	</button>
</div>

<!-- **************** COMMON END OF MENU ************************************************************* COMMON END OF MENU ******** -->

<!-- ************************************************************************************ -->
<!-- ************************************* HELP Overlay ********************************* -->
<!-- ************************************************************************************ -->
@if (showIframe)
{
	<div>
		<iframe src="@imagePath" width="1400" height="920" frameborder="0"
					style="position:absolute; top:0px;left:0px;width:1920px; height:1080px; opacity:90%;">
		</iframe>
		<br />
		<button class="general-menu-button" @onclick="CloseIframe"
				style="position:absolute; top:400px;left:30px; opacity:100%;height:60px;border:0px;brightness:100%;width:140px;color:red">
			Close
		</button>


		<!-- *********************************https://www.youtube.com/watch?v=OO-i91ylpkg*************************************************** -->
		<!-- ***************************** External Cloud Links ********************************* -->
		<!-- ************************************************************************************ -->
		<a href="https://www.youtube.com/watch?v=OO-i91ylpkg">
			<button class="general-menu-button" style="z-index:1;position:absolute;top:300px;left:1570px;width:220px; height:50px; opacity:70%; color:red">
				Coffee Break
			</button>
		</a>

		<a href="https://www.youtube.com/watch?v=w3VgrddbZRk">
			<button class="general-menu-button" style="z-index:1;position:absolute;top:380px;left:1570px;width:220px; height:50px; opacity:70%; color:red">
				AI Gen Story
			</button>
		</a>

		<a href="https://www.youtube.com/watch?v=SrEjoJ_G6tc">
			<button class="general-menu-button" style="z-index:1;position:absolute;top:460px;left:1570px;width:220px;height:50px; opacity:70%;color:red">
				Scaffold
			</button>
		</a>

		<a href="https://www.youtube.com/watch?v=_w6N_nplmAw">
			<button class="general-menu-button" style="z-index:1;position:absolute;top:540px;left:1570px;width:220px;height:50px; opacity:70%;color:red">
				Images
			</button>
		</a>

		<a href="https://www.foxnews.com/">
			<button class="general-menu-button" style="z-index:1;position:absolute;top:620px;left:1570px;width:220px;height:50px; opacity:70%;color:red">
				Fox News
			</button>
		</a>

		<a href="https://www.youtube.com/watch?v=bwUXXjkyqhE&t=565s">
			<button class="general-menu-button" style="z-index:1;position:absolute;top:700px;left:1570px;width:220px;height:50px; opacity:70%;color:red">
				Print Report
			</button>
		</a>

		<a href="https://www.youtube.com/watch?v=djU2Knv30q0&t=498s">
			<button class="general-menu-button" style="z-index:1;position:absolute;top:780px;left:1570px;width:220px;height:50px; opacity:70%;color:red">
				Drag N Drop
			</button>
		</a>

		<a href="https://www.youtube.com/watch?v=xtpPspNdX58">
			<button class="general-menu-button" style="z-index:1;position:absolute;top:860px;left:1570px;width:220px;height:50px; opacity:70%;color:red">
				Data Trans OBJ
			</button>
		</a>


		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Grid?pod="+pod+"&pid="+pid))"
				style="position:absolute;top:300px;left:825px;height:60px;width:200px; opacity:70%;color:red">
			Grid
		</button>





	</div>
}
else
{
	<button class="general-menu-button" @onclick="OpenIframe"
			style="position:absolute; top:400px;left:30px; opacity:80%;height:60px;border:0px;width:140px;color:red">
		HELP
	</button>
}
@code {
	private bool showIframe = false;
	private string imagePath = "https://agineuralnet.blob.core.windows.net/background/BG_Menu_Help.png"; // Replace with your .png file path

	private void OpenIframe()
	{ showIframe = true; }

	private void CloseIframe()
	{ showIframe = false; }
	}

<!-- ************************************************************************************ -->
<!-- *************************** Navigation Buttons ******************** ROLE *********** -->
<!-- ************************************************************************************ -->
<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
		style="position:absolute;left:30px;top:710px;height:60px;border:0px;width:140px;color:#777777;">
	Memo
</button>

<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
		style="position:absolute;left:30px;top:790px;height:60px;border:0px;width:140px;color:#777777;">
	Read
</button>

<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
		style="position:absolute;left:30px;top:870px;height:60px;border:0px;width:140px;color:#777777;">
	Chat
</button>

<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
		style="position:absolute;left:30px;top:950px;height:60px;border:0px;width:140px;color:#777777;">
	Exit
</button>


<!-- ********* End of PAGE ********************* CFG COPYRIGHT 2024 ********************************** -->




