@page "/User"
@inject NnetDbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;


<div class="video-background">
	<video autoplay loop muted playsinline>
		<source src="Blobs/Video/Starry_Night.mp4" type="video/mp4" />
		Your browser does not support the video tag.
	</video>
</div>

<style>
	.user_banner {
		position: absolute;
		top: 50px;
		left: 760px;
		background-image: url("https://intelchatstorage.blob.core.windows.net/uipanelscontainer/UseCase_user.png");
		padding: 0;
		margin: 0;
		color: black;
		border-radius: 24px;
	}


	.RadioShadow {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 600px;
		height: 60px;
		background-color: coral;
		background-size: cover;
		border-radius: 12px;
		opacity: 95%;
	}


    .box_push_btn {
        position: absolute;
        filter: brightness(90%);
        opacity: 95%;
		width:573px;
		height:125px;
		top:20px;
		left:400px;
		color:coral;
    }

    /* background-size: cover; if you want to stretch the image */
	.btn_push_1 {
		background: url("https://agineuralnet.blob.core.windows.net/buttons/btn_push_1_8.png") no-repeat;
		background-size: contain;
		border-radius: 8%;
		box-shadow: 0 30px 60px rgba(0,0,0,.5);
		}
		.btn_push_1:hover {
			box-shadow: 0 5px 10px rgba(0,0,0,.5);			transform: scale(.8);
		}

	.btn_push_2 {
		background: url("https://agineuralnet.blob.core.windows.net/buttons/btn_push_2_8.png") no-repeat;
		background-size: contain;
		border-radius: 8%;
		box-shadow: 0 60px 90px rgba(0,0,0,.5);
		}
		.btn_push_2:hover {
			box-shadow: 0 5px 10px rgba(0,0,0,.5); 	transform: scale(.8);
		}

	.btn_push_3 {
		background: url("https://agineuralnet.blob.core.windows.net/buttons/btn_push_3_8.png") no-repeat;
		background-size: contain;
		border-radius: 8%;
		box-shadow: 0 30px 60px rgba(0,0,0,.5);
		}
		.btn_push_3:hover {	box-shadow: 0 5px 10px rgba(0,0,0,.5); 	transform: scale(.8);		
		}

	.btn_push_4 {
		background: url("https://agineuralnet.blob.core.windows.net/buttons/btn_push_4_8.png") no-repeat;
		background-size: contain;
		border-radius: 8%;
		box-shadow: 0 30px 60px rgba(0,0,0,.5);
		}
		.btn_push_4:hover {	box-shadow: 0 5px 10px rgba(0,0,0,.5);		transform: scale(.8);	
		}

	.btn_push_5 {
		background: url("https://agineuralnet.blob.core.windows.net/buttons/btn_push_5_8.png") no-repeat;
		background-size: contain;
		border-radius: 8%;
		box-shadow: 0 30px 60px rgba(0,0,0,.5);
		}

		.btn_push_5:hover {	box-shadow: 0 5px 10px rgba(0,0,0,.5);		transform: scale(.8);	
		}

	.btn_push_6 {
		background: url("https://agineuralnet.blob.core.windows.net/buttons/btn_push_6_8.png") no-repeat;
		background-size: contain;
		border-radius: 8%;
		box-shadow: 0 30px 60px rgba(0,0,0,.5);
		}
		.btn_push_6:hover {	box-shadow: 0 5px 10px rgba(0,0,0,.5);		transform: scale(.8);	}

	.btn_push_7 {
		background: url("https://agineuralnet.blob.core.windows.net/buttons/btn_push_7_8.png") no-repeat;
		background-size: contain;
		border-radius: 8%;
		box-shadow: 0 30px 60px rgba(0,0,0,.5);
		}
		.btn_push_7:hover {			box-shadow: 0 5px 10px rgba(0,0,0,.5);			transform: scale(.8);		
		}

	.btn_push_8 {
		background: url("https://agineuralnet.blob.core.windows.net/buttons/btn_push_8_8.png") no-repeat;
		background-size: contain;
		border-radius: 8%;
		box-shadow: 0 30px 60px rgba(0,0,0,.5);
		}
		.btn_push_8:hover {		box-shadow: 0 5px 10px rgba(0,0,0,.5);		transform: scale(.8);	
		}




	.video-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -1; 
	}

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100vw;
		height: 100vh;
		object-fit: cover; /* Ensures the video covers the entire viewport */
		transform: translate(-50%, -50%);
	}

	.content {
		position: relative;
		z-index: 1; /* Bring the content above the video */
		text-align: center;
		color: white;
		padding:0px;
	}

	h1 {font-size: 4em;	margin-bottom: 10px;}

	p {font-size: 1.5em;	}

</style>


<div class="user-page">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<br><br>
	<p style="color:#333333;font-size:24px;top:480px;position:absolute">Pod: @pod</p><br>
	<p style="color:#333333;font-size:24px;top:510px;position:absolute">Pid: @pid</p>


	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY PANELS ************************************ -->
	<!-- ************************************************************************************ -->
	<div style="position:absolute; top:10px; left:780px; opacity:50%">
		<img src="https://agineuralnet.blob.core.windows.net/banners/Banner_user.png" />
	</div>

	<div class="user_banner" style="opacity:50%">
		<img src="https://agineuralnet.blob.core.windows.net/panels/Mindset.png" />
	</div>

	<div class="user_banner" style="top:700px; left:540px; opacity:60%">
		<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Mindset_Q.png" />
	</div>



	<!-- ************************************************************************************ -->
	<!-- ************************** DISPLAY PUSH-BUTTON PANEL ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="box_push_btn" style="position:absolute; top:550px; left:120px; opacity:60%;">
		<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_radio.png">

        <div>
			<button class="btn_push_1" @onclick="@(()=>_nav.NavigateTo("/Inbox?pod="+pod+"&pid="+pid))"
				style="top:35px;left:010px;width:64px;height:48px; opacity:70%">
            </button>        </div>
        <div>
			<button class="btn_push_2" @onclick="@(()=>_nav.NavigateTo("/showpage?pod="+pod+"&pid="+pid))"
				style="top:35px;left:080px;width:64px;height:48px; opacity:70%">
            </button>        </div>
        <div>
			<button class="btn_push_3" @onclick="@(()=>_nav.NavigateTo("/Chatbox?pod="+pod+"&pid="+pid))"
				style="top:35px;left:150px;width:64px;height:48px; opacity:70%">
            </button>        </div>
        <div>
			<button class="btn_push_4" @onclick="@(()=>_nav.NavigateTo("/Delphi?pod="+pod+"&pid="+pid))"
				style="top:35px;left:220px;width:64px;height:48px; opacity:70%">
            </button>        </div>
        <div>
			<button class="btn_push_5" @onclick="@(()=>_nav.NavigateTo("/DelphiMaxims?pod="+pod+"&pid="+pid))"
				style="top:35px;left:290px;width:64px;height:48px; opacity:70%">
            </button>        </div>
        <div>
			<button class="btn_push_6" 
				style="top:35px;left:360px;width:64px;height:48px; opacity:70%">
            </button>        </div>
        <div>
			<button class="btn_push_7" 
				style="top:35px;left:430px;width:64px;height:48px; opacity:70%">
            </button>        </div>
		<div>
			<button class="btn_push_7" @onclick="@(()=>_nav.NavigateTo("/Pyramid?pod="+pod+"&pid="+pid))"
					style="top:35px;left:430px;width:64px;height:48px; opacity:70%">
			</button>		</div>
		<div>
			<button class="btn_push_8" @onclick="@(()=>_nav.NavigateTo("/Delphi?pod="+pod+"&pid="+pid))"
					style="top:35px;left:500px;width:64px;height:48px; opacity:70%">
			</button>		</div>

	</div>


	<!-- ************************************************************************************ -->
	<!-- ***************************** PROCESSES ******************************************** -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Interview?pod="+pod+"&pid="+pid))"
			style="top:460px;left:480px;height:60px;width:240px;">
		Action Plan
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Interview?pod="+pod+"&pid="+pid))"
			style="top:490px;left:1300px;height:60px;width:240px;">
		Contemplation
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Interview?pod="+pod+"&pid="+pid))"
			style="top:610px;left:920px;height:60px;width:240px;">
		Interview
	</button>

	<!-- ************************************************************************************ -->
	<!-- ***************************** Mind Action MENUS ************************************ -->
	<!-- ************************************************************************************ -->
	
	<div>
		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Audio?pod="+pod+"&pid="+pid))"
		style="top:360px;left:1720px;width:160px; height:50px; opacity:70%; color:#222222">
			Audio
		</button>

		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Video?pod="+pod+"&pid="+pid))"
		style="top:430px;left:1720px;width:160px;height:50px; opacity:70%;color:#222222">
			Video
		</button>
	
		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Pyramid?pod="+pod+"&pid="+pid))"
		style="top:500px;left:1720px;width:160px;height:50px; opacity:70%;color:#222222">
			Pyramid
		</button>
	
		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Delphi?pod="+pod+"&pid="+pid))"
		style="top:570px;left:1720px;width:160px;height:50px; opacity:70%;color:#222222">
			Delphi
		</button>
    </div>

	<div class="user_banner" style="top:180px; left:1400px; filter: brightness(40%);opacity:60% ">
		<img src="images/Earth.gif" alt="earth planet" >
	</div>

	<a href="https://radio.garden/listen/heavy1/rH122vcl">
		<button class="world-radio-button" style="top:180px;left:1400px;width:200px; height:200px; opacity:20%; color:#222222">World Radio></button>
	</a>

	<!-- ********************* https://radio.garden/listen/heavy1/rH122vcl ****************** -->
	<!-- ****************************** AUDIO RADIO Buttons ****** Swiss Jazz *************** -->
	<!-- ************************************************************************************ -->
	<div>
		<audio controls="controls"	style="position:absolute; top:140px;left:1700px;width:200px; height:50px; opacity:40%; color:#222222">
			<source src="/Blobs/Audio/Ripingtons.mp3" />
		</audio>
	</div>

	<div>
		<audio controls="controls" style="position:absolute; top:220px;left:1700px;width:200px; height:50px; opacity:40%; color:#222222">
			<source src="https://stream.srg-ssr.ch/m/rsj/aacp_96" />
		</audio>
	</div>

	<!-- ************************************************************************************ -->
	<!-- ****************************** Bottom Left Buttons ********************************* -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:790px;height:60px;color:RED;border:0px;width:140px;opacity:60%">
		HELP
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:865px;height:60px;color:RED;border:0px;width:140px;opacity:60%">
		Return
	</button>

	<!-- ************************************************************************************ -->
	<!-- ************************************* Youtube Video ******************************** -->
	<!-- ************************************************************************************ -->
	<div style="top:10px; left:4px; position:absolute; overflow:hidden; filter: brightness(40%);opacity:60% ">
		<iframe width="690" height="390" src="https://www.youtube.com/embed/DZGINaRUEkU" title="Symphony of Science - the Quantum World!" 
			frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
			referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>	
		</iframe>
	</div>

    <div style="top:670px; left:1420px; position:absolute; overflow:hidden; filter: brightness(80%);opacity:80% ">
        <iframe width="480" height="280" src='https://www.youtube.com/embed/dNN7KO2C-Ak'
                frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen>
        </iframe>
    </div>
</div>

<div>
	<!-- ************************************************************************************ -->
	<!-- ***************************** MENU JUMP ************* ****************************** -->
	<!-- ************************************************************************************ -->

	<button class="general-menu-button"
			@onclick="@(() => _nav.NavigateTo("/Nnet?pod=" + 3 + "&pid=" + 11))"
			style="position:absolute; top:60px; left:1560px; height:60px; width:260px; opacity:60%; color:dimgray;z-index:1;">
		Neural Net
	</button>
</div>

<div class="titlebanner" style="opacity:30%;top:1040px; left:40px; width:300px; height:20px; position:absolute; filter: brightness(40%);">
    <img src="https://agineuralnet.blob.core.windows.net/panels/Panel_CFG_copyright.png" />
</div>

<!-- ************************* End of PAGE ************************** -->

<!-- ********* End of PAGE ********************* CFG COPYRIGHT 2024 ********************************** -->
