@page "/Engineer"
@inject NnetDbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;


<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Menu.png") no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		opacity: 100%;
		min-height: 100vh;
		width: 100%;
		color: blanchedalmond;
		background-color:antiquewhite
	}
</style>


	<div class="engineer-page">

	<!-- ************************************************************************************ -->
	<!-- ************************ Lock onto a Person within a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#333333;font-size:24px;top:10px;position:absolute">Pod: @pod</p>
	<p style="color:#333333;font-size:24px;top:40px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ***************************** DISPLAY Banner *** Return **************************** -->
	<!-- ************************************************************************************ -->
	<div class="titlebanner" style="z-index:1;top:10px;left:700px;position:absolute;">
		<img src="https://agineuralnet.blob.core.windows.net/background/Banner_engr.png" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- ******************************** CRUD TABLES *************************************** -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Pype?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:300px;left:320px;height:60px;">
		Pype
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/URL?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:380px;left:320px;height:60px;">
		URL
	</button>

	<!-- ************************************************************************************ -->
	<!-- ***************************** Display GRID ***************************************** -->
	<!-- ************************************************************************************ -->

@* 	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Grid?pod="+pod+"&pid="+pid))"
			style="top:300px;left:825px;height:60px;">
		Grid
	</button> *@

	<!-- ************************************************************************************ -->
	<!-- ***************************** External Cloud Links ********************************* -->
	<!-- ************************************************************************************ -->
	<a href="https://youtu.be/HexmEkw-Ph4">
		<button class="general-menu-button" style="z-index:1;top:220px;left:1340px;height:60px; color:red">
			HTML
		</button>
	</a>



    <a href="https://www.w3schools.com/tags/tag_iframe.ASP">
		<button class="general-menu-button" style="z-index:1;top:300px;left:1340px;height:60px; color:red">
            HTML
        </button>
    </a>

    <a href="https://docs.blazorbootstrap.com/components/modal#optional-sizes">
		<button class="general-menu-button" style="z-index:1;top:380px;left:1340px;height:60px; color:red">
            Bootstrap
        </button>
    </a>

	<a href="https://www.youtube.com/watch?v=SrEjoJ_G6tc">
		<button class="general-menu-button" style="z-index:1;top:460px;left:1340px;height:60px; color:red">
			Scaffold
		</button>
	</a>

    <a href="https://www.youtube.com/watch?v=_w6N_nplmAw">
		<button class="general-menu-button" style="z-index:1;top:540px;left:1340px;height:60px; color:red">
            Images
        </button>
    </a>

	<a href="https://www.youtube.com/watch?v=3_AsedRrqww&list=PL4LFuHwItvKbdK-ogNsOx2X58hHGeQm8c">
		<button class="general-menu-button" style="z-index:1;top:620px;left:1340px;height:60px; color:red">
			Pick List
		</button>
	</a>

	<a href="https://www.youtube.com/watch?v=bwUXXjkyqhE&t=565s">
		<button class="general-menu-button" style="z-index:1;top:700px;left:1340px;height:60px; color:red">
			Print Report
		</button>
	</a>

	<a href="https://www.youtube.com/watch?v=djU2Knv30q0&t=498s">
		<button class="general-menu-button" style="z-index:1;top:780px;left:1340px;height:60px; color:red">
			Drag N Drop
		</button>
	</a>

	<!-- ************************************************************************************ -->
    <!-- ******************************** lower Left Buttons ******************************** -->
    <!-- ************************************************************************************ -->
    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
            style="position:absolute;left:30px;top:700px;height:60px;color:RED;border:0px;width:140px;">
        HELP
    </button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
            style="position:absolute;left:30px;top:780px;height:60px;color:RED;border:0px;width:140px;">
        Return
    </button>

	<!-- ********************************** STEAMPUNK VIDEO ********************************* -->
	<!-- ********************************** STEAMPUNK VIDEO ********************************* -->
	<!-- ********************************** STEAMPUNK VIDEO *********************************
	<div style="top:120px; left:240px; position:absolute; overflow:hidden;brightness(80%);opacity:90% ">
	<iframe width="1280" height="720" src="https://www.youtube.com/embed/_kh0b1kmBlM" title="A Steampunk Adventure - Clockwork Heart - AI Sci-Fi Short Film" 
	frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
	</iframe>
	</div>
	-->

	<!-- ************************************************************************************ -->
	<!-- ********************************* Display MEMO Panel ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="engineer-page">
		<button @onclick="ToggleMemoPage" class="toggle-button"
				style="top:900px;left:20px;width:128px;height:48px; opacity:70%">
			toggle MEMO
		</button>

		@if (isMemoPageOpen)
		{
			<div class="memo-page" style="z-index:1; position:absolute;top:780px;left:200px;width:1200px;height:280px; opacity:100%">
				<iframe src="CommMemo" class="memo-iframe"></iframe>
			</div>
		}
	</div>
    <!-- ********************************* Display MEMO Panel ******************************* -->
    @code {
        private bool isMemoPageOpen = false;

        private void ToggleMemoPage()
        {
            isMemoPageOpen = !isMemoPageOpen;
        }
    }

	<!-- ************************************************************************************ -->
	<!-- ********************************* Display CHAT Panel ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="engineer-page">
		<button @onclick="ToggleChatPage" class="toggle-button"
				style="top:960px;left:20px;width:128px;height:48px; opacity:70%">
			toggle CHAT
		</button>

		@if (isChatPageOpen)
		{
			<div class="chat-page" style="z-index:1;position:absolute;top:0px;left:1400px;width:520px;height:1060px; opacity:80%">
				<iframe src="Chat" class="chat-iframe"></iframe>
			</div>
		}
	</div>
	<!-- ********************************* Display CHAT Panel ******************************* -->
	@code {
		private bool isChatPageOpen = false;

		private void ToggleChatPage()
		{
			isChatPageOpen = !isChatPageOpen;
		}
	}

</div>

<div>
	<!-- ************************************************************************************ -->
	<!-- ***************************** MENU JUMP ************* ****************************** -->
	<!-- ************************************************************************************ -->

	<button class="general-menu-button"
			@onclick="@(() => _nav.NavigateTo("/Expert?pod=" + 3 + "&pid=" + 11))"
			style="position:absolute; top:60px; left:1560px; height:60px; width:260px; opacity:60%; color:dimgray;z-index:1;">
		Domain Expert
	</button>
</div>



<!-- ************************* End of PAGE ************************** -->
<!-- ********* End of PAGE ********************* CFG COPYRIGHT 2024 ********************************** -->



<!-- *************************************************************** insert Chat.razor ******** -->
	@* <Chat /> *@


<!-- ************************************************************************************ -->
<!-- ************************************* IFrame Video ********************************* -->
<!-- ************************************************************************************ -->
@* 	<div style="top:0px; left:0px; position:absolute; overflow:hidden;">
		<iframe width='600' height='340' src='https://www.youtube.com/embed/m8e-FF8MsqU'
				frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen>
		</iframe>
	</div> *@

<!-- ***********  src="https://www.youtube.com/embed/SrEjoJ_G6tc" *** -->
<!-- ***********  src="https://www.youtube.com/embed/WIVv0n7EmIs" *** -->
<!-- ************************************************************************************ -->
@* 	<div style="top:500px; left:350px; position:absolute; overflow:hidden; filter: brightness(70%); ">
		<iframe width="960" height="540" src="https://www.youtube.com/embed/SrEjoJ_G6tc"
				title="Create an EF Core Model from Database First (Scaffold DB Context)"
				frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
		</iframe>
	</div>

</div> *@


<!-- **************************************** STEAMPUNK *************************** -->
@* <div style="top:160px; left:240px; position:absolute; overflow:hidden;brightness(80%);opacity:90% ">
<iframe width="1273" height="716" src="https://www.youtube.com/embed/BbDJ6LxsPNw" title="Enigma - MMX  | The Social Song"
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
</div> *@



<!-- **************************************** STEAMPUNK *************************** -->
@* 	<div style="top:160px; left:240px; position:absolute; overflow:hidden;brightness(80%);opacity:90% ">
	<iframe width="1280" height="720" src="https://www.youtube.com/embed/o4INk3IIOpk" title="Steampunk 2150 | AI Short"
	frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
	</div> *@