@page "/Administration"
@inject NnetDbContext db 
@inject NavigationManager _nav
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;


<!--LEAVE THIS STYLE HERE-->
<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Menu.png") no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		min-height: 100vh;
		width: 100%;
		opacity: 1;
		color: blanchedalmond;
		margin: 0; 
		padding: 0; 
		background-color: #000000;
	}
</style>

<div class="administration-page">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#333333;font-size:24px">Pod: @pod</p><br>
	<p style="color:#333333;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY Banner ************************************ -->
	<!-- ************************************************************************************ -->


	<div class="titlebanner">
		<img src="https://agineuralnet.blob.core.windows.net/background/Banner_admn.png" />
	</div>



	<!-- ************************************************************************************ -->
	<!-- ******************************** TABLES ******************************************** -->
	<!-- ************************************************************************************ -->

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Brain?pod="+pod+"&pid="+pid))"
			style="top:300px;Color:#FFFFFF;left:320px;height:60px;">
		Brain
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/POD?pod="+pod+"&pid="+pid))"
            style="top:380px;left:320px;height:60px;">
        POD
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Brand?pod="+pod+"&pid="+pid))"
			style="top:460px;left:320px;height:60px;">
		Brand
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Registration?pod="+pod+"&pid="+pid))"
            style="top:540px;left:320px;height:60px;">
        Registration
    </button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Person?pod="+pod+"&pid="+pid))"
            style="top:620px;left:320px;height:60px;">
        Person
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Location?pod="+pod+"&pid="+pid))"
			style="top:700px;left:320px;height:60px;">
		Location
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Channel?pod="+pod+"&pid="+pid))"
            style="top:780px;Color:#FFFFFF;left:320px;height:60px;">
        Channel
    </button>

	<!-- ************************************************************************************ -->
	<!-- ************************************* Buttons ************************************** -->
	<!-- ************************************************************************************ -->

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:700px;height:60px;color:RED;width:140px;">
		MEMO
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:780px;height:60px;color:RED;border:0px;width:140px;">
		HELP
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:860px;height:60px;color:RED;border:0px;width:140px;">
		Return
	</button>






</div>
