@page "/Administration"
@inject NnetDbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;


<!--LEAVE THIS STYLE HERE-->
<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Menu.png") no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		min-height: 100vh;
		width: 100%;
		opacity: 1;
		color: blanchedalmond;
		margin: 0; 
		padding: 0; 
		background-color: #000000;
	}
</style>

<div class="administration-page">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#333333;font-size:24px">Pod: @pod</p><br>
	<p style="color:#333333;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY Banner ************************************ -->
	<!-- ************************************************************************************ -->
	<div class="titlebanner" style="z-index:1;top:10px;left:700px;position:absolute;">
		<img src="https://agineuralnet.blob.core.windows.net/background/Banner_admn.png" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- ******************************** TABLES ******************************************** -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Brain?pod="+pod+"&pid="+pid))"
			style="z-index:1; top:300px;Color:#FFFFFF;left:320px;height:60px;">
		Brain
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/POD?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:380px;left:320px;height:60px;">
        POD
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Brand?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:460px;left:320px;height:60px;">
		Brand
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Registration?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:540px;left:320px;height:60px;">
        Registration
    </button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Person?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:620px;left:320px;height:60px;">
        Person
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Location?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:700px;left:320px;height:60px;">
		Location
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Channel?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:780px;Color:#FFFFFF;left:320px;height:60px;">
        Channel
    </button>

	<!-- ************************************************************************************ -->
	<!-- ************************************* Buttons ************************************** -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:700px;height:60px;color:RED;width:140px;">
		MEMO
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:780px;height:60px;color:RED;border:0px;width:140px;">
		HELP
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:860px;height:60px;color:RED;border:0px;width:140px;">
		Return
	</button>

</div>


<div   style="top:160px; left:240px; position:absolute; overflow:hidden;brightness(80%);opacity:80% ">
<iframe width="1280" height="720" src="https://www.youtube.com/embed/FtpPxKHnfzY" 
title="Star Wars 2050 - Matt Daver Remix" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen>
</iframe>
</div>

<div>
<!-- ************************************************************************************ -->
<!-- ***************************** MENU JUMP ************* ****************************** -->
<!-- ************************************************************************************ -->

	<button class="general-menu-button"
			@onclick="@(() => _nav.NavigateTo("/Engineer?pod=" + 3 + "&pid=" + 11))"
			style="position:absolute; top:60px; left:1560px; height:60px; width:260px; opacity:60%; color:dimgray;z-index:1;">
		Engineer
	</button>
</div>

<!-- ************************************************************************************ -->
<!-- ********************************* TOGGLE MEMO Panel ******************************* -->
<!-- ************************************************************************************ -->
<div class="engineer-page">
	<button @onclick="ToggleMemoPage" class="toggle-button"
			style="top:1020px;left:20px;width:128px;height:48px; color:grey; opacity:70%">
		toggle MEMO
	</button>

	@if (isMemoPageOpen)
	{
		<div class="memo-page" style="z-index:1; position:absolute;top:780px;left:200px;width:1200px;height:280px; opacity:100%">
			<iframe src="CommMemo" class="memo-iframe"></iframe>
		</div>
	}
</div>
<!-- ********************************* TOGGLE MEMO Panel ******************************* -->
@code {
	private bool isMemoPageOpen = false;

	private void ToggleMemoPage()
	{
		isMemoPageOpen = !isMemoPageOpen;
	}
}

<!-- ************************* End of PAGE ************************** -->
<!-- ********* End of PAGE ********************* CFG COPYRIGHT 2024 ********************************** -->

