@page "/Pyramid"
@inject NnetDbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Pyramid.png") no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		opacity: 90%;
		min-height: 100vh;
		width: 100%;
		color: blanchedalmond;
		background-color:antiquewhite
	}

	#btn-pyramid_Red {
		opacity: 90%;
		background-image: url("https://agineuralnet.blob.core.windows.net/buttons/Btn_Pyramid_Red.png");
		filter: brightness(80%);
		position:absolute;
		width:290px;
		height:80px;
		background-color:transparent;
		filter: brightness(80%);
		border:none;
	}
	#btn-pyramid_Red:hover {
		transform: scale(1.25);
		filter: brightness(100%);
	}

	#btn-pyramid_Yellow {
		opacity: 90%;
		background-image: url("https://agineuralnet.blob.core.windows.net/buttons/Btn_Pyramid_Yellow.png");
		filter: brightness(80%);
		position: absolute;
		width: 290px;
		height: 80px;
		background-color: transparent;
		filter: brightness(80%);
		border: none;
	}

		#btn-pyramid_Yellow:hover {
			transform: scale(1.25);
			filter: brightness(100%);
		}

	#btn-pyramid_Orange{
		opacity: 90%;
		background-image: url("https://agineuralnet.blob.core.windows.net/buttons/Btn_Pyramid_Orange.png");
		filter: brightness(80%);
		position: absolute;
		width: 290px;
		height: 80px;
		background-color: transparent;
		filter: brightness(80%);
		border: none;
	}

		#btn-pyramid_Orange:hover {
			transform: scale(1.25);
			filter: brightness(100%);
		}

	#btn-pyramid_Green {
		opacity: 90%;
		background-image: url("https://agineuralnet.blob.core.windows.net/buttons/Btn_Pyramid_Green.png");
		filter: brightness(80%);
		position: absolute;
		width: 290px;
		height: 80px;
		background-color: transparent;
		filter: brightness(80%);
		border: none;
	}

		#btn-pyramid_Green:hover {
			transform: scale(1.25);
			filter: brightness(100%);
		}

	#btn-pyramid_Blue {
		opacity: 90%;
		background-image: url("https://agineuralnet.blob.core.windows.net/buttons/Btn_Pyramid_Blue.png");
		filter: brightness(80%);
		position: absolute;
		width: 290px;
		height: 80px;
		background-color: transparent;
		filter: brightness(80%);
		border: none;
	}

		#btn-pyramid_Blue:hover {
			transform: scale(1.25);
			filter: brightness(100%);
		}

</style>

<!-- ************************************************************************************ -->
<!-- *************************** Lock onto a Person and a POD *************************** -->
<!-- ************************************************************************************ -->
<p style="color:#444444;font-size:24px;top:400px;position:absolute">Pod: @pod</p>
<p style="color:#444444;font-size:24px;top:430px;position:absolute">Pid: @pid</p>

<div class="role-menu"
	<!-- ************************************************************************************ -->
	<!-- ***************************** Pyramid 5 points ************************************* -->
	<!-- ************************************************************************************ -->

		<button id="btn-pyramid_Red"    @onclick="@(() => _nav.NavigateTo("/Schedule?pod=" + 3 + "&pid=" + 11))" title="MY Weekly Activity"
				style="z-index:111;left:785px;top:120px;"		>	</button>

		<button id="btn-pyramid_Yellow" @onclick="@(() => _nav.NavigateTo("/Task?pod=" + 3 + "&pid=" + 11))" title="PDF: How does Reasoning Work"
				style="z-index:111;left:420px;top:670px;"		>	</button>

		<button id="btn-pyramid_Orange" @onclick="@(() => _nav.NavigateTo("/Task?pod=" + 3 + "&pid=" + 11))" title="PDF: My Weekly Discipline"
				style="z-index:111;left:1320px;top:670px;"		>	</button>

		<button id="btn-pyramid_Blue"   @onclick="@(() => _nav.NavigateTo("/Task?pod=" + 3 + "&pid=" + 11))" title="PDF: AGI Communication"
				style="z-index:111;left:1270px;top:840px;"		>	</button>

		<button id="btn-pyramid_Green"  @onclick="@(() => _nav.NavigateTo("/Task?pod=" + 3 + "&pid=" + 11))" title="PDF: POD Construction & Use"
				style="z-index:111;left:240px;top:790px;"		>	</button>

	<!-- ************************************************************************************ -->
	<!-- ***************************** Internal Cloud Activity ****************************** -->
	<!-- ************************************************************************************ -->

@* 		<div>
		<button class="general-menu-button"
				@onclick="@(() => _nav.NavigateTo("/POD?pod=" + 3 + "&pid=" + 11))"
				style="top:140px;left:1500px;opacity:60%; color:dimgray;z-index:1;width:240px;height:60px;">
			POD invitation
		</button>
	</div>

	<div>
		<button class="general-menu-button"
				@onclick="@(() => _nav.NavigateTo("/Person?pod=" + 3 + "&pid=" + 11))"
				style="top:220px;left:1500px;opacity:60%; color:dimgray;z-index:1;width:240px;height:60px;">
			Person
		</button>
	</div> *@



	<div>
		<button class="general-menu-button"
				@onclick="@(() => _nav.NavigateTo("/Guide?pod=" + 3 + "&pid=" + 11))"
				style="top:140px;left:1500px;opacity:60%; color:dimgray;z-index:1;width:240px;height:60px;">
			Guide
		</button>
	</div>

	<div>
		<button class="general-menu-button"
				@onclick="@(() => _nav.NavigateTo("/Question?pod=" + 3 + "&pid=" + 11))"
				style="top:220px;left:1500px;opacity:60%; color:dimgray;z-index:1;width:240px;height:60px;">
			Question
		</button>
	</div>

	<div>
		<button class="general-menu-button"
				@onclick="@(() => _nav.NavigateTo("/Location?pod=" + 3 + "&pid=" + 11))"
				style="top:300px;left:1500px;opacity:60%; color:dimgray;z-index:1;width:240px;height:60px;">
			Location
		</button>
	</div>

	<div>
		<button class="general-menu-button"
				@onclick="@(() => _nav.NavigateTo("/URL?pod=" + 3 + "&pid=" + 11))"
				style="top:380px;left:1500px;opacity:60%; color:dimgray;z-index:1;width:240px;height:60px;">
			URL cloud link
		</button>
	</div>

	<div>
		<button class="general-menu-button"
				@onclick="@(() => _nav.NavigateTo("/Task?pod=" + 3 + "&pid=" + 11))"
				style="top:460px;left:1500px;opacity:60%; color:dimgray;z-index:1;width:240px;height:60px;">
			TASK schedule
		</button>
	</div>

	<div>
		<button class="general-menu-button"
				@onclick="@(() => _nav.NavigateTo("/Work?pod=" + 3 + "&pid=" + 11))"
				style="top:540px;left:1500px;opacity:60%; color:dimgray;z-index:1;width:240px;height:60px;">
			WORK skills
		</button>
	</div>

</div>

<!-- ************************************************************************************ -->
<!-- ********************************* Upper Left Video ********** EGYPT **************** -->
<!-- ************************************************************************************ -->
<div style="top:10px; left:4px; position:absolute; overflow:hidden; filter: brightness(60%);z-index:1;opacity:70%;">
	<iframe width="700" height="380" src="https://www.youtube.com/embed/WIVv0n7EmIs" title="Enigma - Mea Culpa Part II - NG Remix"
			frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
	</iframe>
</div>


<!-- ************************************************************************************ -->
<!-- ************************************* Projector Overlay **************************** -->
<!-- ************************************************************************************ -->
@if (showIframe)
{
	<div>
		<!-- ************** Frame Projector image display Eygpt ****** Phareoh ********** -->
        <iframe src="@imagePath" width="1200" height="920" frameborder="0"
                style="position:absolute; top:40px;left:440px;width:1200px; opacity:50%;">
		</iframe>

        <button class="btn btn-danger" @onclick="CloseIframe"
				style="position:absolute; top:500px;left:60px;width:90px; opacity:30%; color:black">
			Close
		</button>
    </div>
}
else
{
		<button class="btn btn-primary" @onclick="OpenIframe"
			style="position:absolute; top:500px;left:60px;width:90px; opacity:40%; color:black">
		Pharaoh
		</button>
}
@code {
    private bool showIframe = false;
	private string imagePath = "https://agineuralnet.blob.core.windows.net/panels/Panel_Egypt.png"; // Replace with your .png file path

	private void OpenIframe()
	{ showIframe = true; }

	private void CloseIframe()
	{ showIframe = false; }
}

@if (showIframe2)
{
	<div>
		<!-- ****************** Frame Projector image display Eygpt ****** HORUS ****************** -->
		<iframe src="@imagePath2" width="1200" height="920" frameborder="0"
				style="position:absolute; top:40px;left:440px;width:1200px; opacity:50%;">
		</iframe>

		<button class="btn btn-danger" @onclick="CloseIframe2"
				style="position:absolute; top:580px;left:60px;width:90px; opacity:30%; color:black">
			Close
		</button>
	</div>
}
else
{
	<button class="btn btn-primary" @onclick="OpenIframe2"
			style="position:absolute; top:580px;left:60px;width:90px; opacity:40%; color:black">
		Horus
	</button>
}
@code {
	private bool showIframe2 = false;
	private string imagePath2 = "https://agineuralnet.blob.core.windows.net/panels/Panel_Egypt2.png"; // Replace with your .png file path

	private void OpenIframe2()
	{ showIframe2 = true; }

	private void CloseIframe2()
	{ showIframe2 = false; }
}

@if (showIframe3)
{
	<div>
		<!-- **************** Frame Projector image display Eygpt ****** Egyptian ***************** -->
		<iframe src="@imagePath3" width="1200" height="920" frameborder="0"
				style="position:absolute; top:40px;left:440px;width:1200px; opacity:50%;">
		</iframe>

		<button class="btn btn-danger" @onclick="CloseIframe3"
				style="position:absolute; top:660px;left:60px; width:90px;opacity:30%; color:black">
			Close
		</button>
	</div>
}
else
{
	<button class="btn btn-primary" @onclick="OpenIframe3"
			style="position:absolute; top:660px;left:60px;width:90px; opacity:40%; color:black">
		Egypt
	</button>
}
@code {
	private bool showIframe3 = false;
	private string imagePath3 = "https://agineuralnet.blob.core.windows.net/panels/Panel_Egypt4.png"; // Replace with your .png file path

	private void OpenIframe3()
	{ showIframe3 = true; }

	private void CloseIframe3()
	{ showIframe3 = false; }
}

@if (showIframe4)
{
	<div>
		<!-- ******************* Frame Projector image display Eygpt ****** Sutekh ****************** -->
		<iframe src="@imagePath4" width="1200" height="920" frameborder="0"
				style="position:absolute; top:40px;left:440px;width:1200px; opacity:60%;">
		</iframe>

		<button class="btn btn-danger" @onclick="CloseIframe4"
				style="position:absolute; top:740px;left:60px;width:90px; opacity:30%; color:black">
			Close
		</button>
	</div>
}
else
{
	<button class="btn btn-primary" @onclick="OpenIframe4"
			style="position:absolute; top:740px;left:60px;width:90px; opacity:40%; color:black">
		Sutekh
	</button>
}
@code {
	private bool showIframe4 = false;
	private string imagePath4 = "https://agineuralnet.blob.core.windows.net/panels/Panel_Egypt3.png"; // Replace with your .png file path

	private void OpenIframe4()
	{ showIframe4 = true; }

	private void CloseIframe4()
	{ showIframe4 = false; }
}
<!-- ************************************************************************************ -->
<!-- ****************************** End of Projector Overlay **************************** -->
<!-- ************************************************************************************ -->




<!-- ************************************************************************************ -->
<!-- ********************************* TOGGLE MEMO Panel ******************************* -->
<!-- ************************************************************************************ -->
<div class="role-menu">
	<button @onclick="ToggleMemoPage" class="toggle-button"
			style="position:absolute;top:1020px;left:200px;width:128px;height:48px; color:grey; opacity:60%">
		toggle MEMO
	</button>

	@if (isMemoPageOpen)
	{
		<div class="memo-page" style="z-index:1; position:absolute;top:780px;left:200px;width:1200px;height:280px; opacity:100%">
			<iframe src="CommMemo" class="memo-iframe"></iframe>
		</div>
	}
</div>
<!-- ********************************* TOGGLE MEMO Panel ******************************* -->
@code {
	private bool isMemoPageOpen = false;

	private void ToggleMemoPage()
	{
		isMemoPageOpen = !isMemoPageOpen;
	}
}


<!-- ************************************************************************************ -->
<!-- ********************************* Display CHAT Panel ******************************* -->
<!-- ************************************************************************************ -->
<div class="role-menu">
	<button @onclick="ToggleChatPage" class="toggle-button"
			style="position:absolute;top:960px;left:200px;width:128px;height:48px; color:grey; opacity:70%">
		toggle CHAT
	</button>

	@if (isChatPageOpen)
	{
		<div class="chat-page" style="z-index:1;position:absolute;top:0px;left:1400px;width:520px;height:1060px; opacity:80%">
			<iframe src="Chat" class="chat-iframe"></iframe>
		</div>
	}
</div>
<!-- ********************************* Display CHAT Panel ******************************* -->
@code {
	private bool isChatPageOpen = false;

	private void ToggleChatPage()
	{
		isChatPageOpen = !isChatPageOpen;
	}
}

<div style="position:absolute;opacity:30%;top:1040px; left:1520px; width:300px; height:20px; position:absolute; filter: brightness(40%);">
	<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_CFG_copyright.png" />
</div>

<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("User?pod="+pod+"&pid="+pid))"
		style="position:absolute;left:30px;top:950px;height:60px;border:0px;width:140px;color:#777777;">
	Return
</button>

<!-- ********* End of PAGE ********************* CFG COPYRIGHT 2024 ********************************** -->


