@page "/Administration"
@inject NnetDbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;


<!--LEAVE THIS STYLE HERE-->
<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Menu.png") no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		min-height: 100vh;
		width: 100%;
		opacity: 1;
		color: blanchedalmond;
		margin: 0; 
		padding: 0; 
		background-color: #000000;
	}
</style>

<div class="role-menu">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#444444;font-size:24px">Pod: @pod</p><br>
	<p style="color:#444444;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY Banner ************************************ -->
	<!-- ************************************************************************************ -->
	<div class="titlebanner" style="z-index:1;top:10px;left:700px;position:absolute;">
		<img src="https://agineuralnet.blob.core.windows.net/background/Banner_admn.png" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- ******************************** TABLES ******************************************** -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Brain?pod="+pod+"&pid="+pid))"
			style="z-index:1; top:300px;Color:#FFFFFF;left:320px;height:60px;">
		Brain
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/POD?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:380px;left:320px;height:60px;">
        POD
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Brand?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:460px;left:320px;height:60px;">
		Brand
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Registration?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:540px;left:320px;height:60px;">
        Registration
    </button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Person?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:620px;left:320px;height:60px;">
        Person
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Location?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:700px;left:320px;height:60px;">
		Location
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Channel?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:780px;Color:#FFFFFF;left:320px;height:60px;">
        Channel
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Spin_URL?pod="+pod+"&pid="+pid))"
			style="z-index:1;top:860px;Color:#FFFFFF;left:320px;height:60px;">
		Spin URL
	</button>

</div>


<div   style="top:180px; left:240px; position:absolute; overflow:hidden;brightness(80%);opacity:80% ">
<iframe width="1280" height="720" src="https://www.youtube.com/embed/FtpPxKHnfzY" 
title="Star Wars 2050 - Matt Daver Remix" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen>
</iframe>
</div>

<div>
<!-- ************************************************************************************ -->
<!-- ***************************** MENU JUMP ************* ****************************** -->
<!-- ************************************************************************************ -->

	<button class="general-menu-button"
			@onclick="@(() => _nav.NavigateTo("/Engineer?pod=" + 3 + "&pid=" + 11))"
			style="position:absolute; top:60px; left:1560px; height:60px; width:260px; opacity:60%; color:darkred;z-index:1;">
		Engineer
	</button>
</div>



<!-- **************** COMMON END OF MENU ************************************************************* COMMON END OF MENU ******** -->
<!-- ************************************************************************************ -->
<!-- ************************************* HELP Overlay ********************************* -->
<!-- ************************************************************************************ -->
@if (showIframe)
{
	<div>
		<iframe src="@imagePath" width="1920" height="1080" frameborder="0"
				style="position:absolute; top:0px;left:0px;width:1920px; height:1080px; opacity:90%;">
		</iframe>
		<br />
		<button class="btn btn-danger" @onclick="CloseIframe"
				style="position:absolute; top:400px;left:40px; opacity:70%; color:black">
			Close HELP
		</button>
	</div>
}
else
{
	<button class="btn btn-primary" @onclick="OpenIframe"
			style="position:absolute; top:400px;left:40px; opacity:70%; color:black">
		Show HELP
	</button>
}
@code {
	private bool showIframe = false;
	private string imagePath = "https://agineuralnet.blob.core.windows.net/background/BG_Menu_Help.png";

	private void OpenIframe()
	{ showIframe = true; }

	private void CloseIframe()
	{ showIframe = false; }
}

<!-- ************************************************************************************ -->
<!-- ************************************* Buttons ************************************** -->
<!-- ************************************************************************************ -->
<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
		style="position:absolute;left:30px;top:710px;height:60px;border:0px;width:140px;color:#777777;">
	Chat
</button>

<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
		style="position:absolute;left:30px;top:790px;height:60px;border:0px;width:140px;color:#777777;">
	Memo
</button>

<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
		style="position:absolute;left:30px;top:870px;height:60px;border:0px;width:140px;color:#777777;">
	Exit
</button>

<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
		style="position:absolute;left:30px;top:950px;height:60px;border:0px;width:140px;color:#777777;">
	Return
</button>


<!-- ********* End of PAGE ********************* CFG COPYRIGHT 2024 ********************************** -->