@page "/Expert"
@inject NnetDbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Menu.png")no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		min-height: 100vh;
		width: 100%;
		opacity: 100%;
		color: bisque;
		background-color: #000000;
	}
</style>

<div class="expert-page">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#333333;font-size:24px">Pod: @pod</p><br>
	<p style="color:#333333;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY Banner ************************************ -->
	<!-- ************************************************************************************ -->
	<div class="titlebanner">
		<img src="https://agineuralnet.blob.core.windows.net/banners/Banner_xprt.png" />
	</div>


	<!-- ************************************************************************************ -->
	<!-- *************************** GOAL   TASK   NOVA ***************************** .dbo ** -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Noun?pod="+pod+"&pid="+pid))"
			style="top:300px;left:320px;height:60px;">
		Noun
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Verb?pod="+pod+"&pid="+pid))"
            style="top:380px;left:320px;height:60px;">
        Verb
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/NovaCrud?pod="+pod+"&pid="+pid))"
			style="top:460px;left:320px;height:60px;">
		NOVA
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Element?pod="+pod+"&pid="+pid))"
            style="top:540px;color:#FFFFFF;left:320px;height:60px;">
        Element
    </button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Task?pod="+pod+"&pid="+pid))"
            style="top:620px;left:320px;height:60px;">
        Task
    </button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Work?pod="+pod+"&pid="+pid))"
            style="top:700px;left:320px;height:60px;">
        Work
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Program?pod="+pod+"&pid="+pid))"
			style="top:780px;color:#FFFFFF;left:320px;height:60px;">
		Program
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Guide?pod="+pod+"&pid="+pid))"
            style="top:860px;left:320px;height:60px;">
        Guide
    </button>

	<!-- ************************************************************************************ -->
	<!-- ***************************** PROCESSES ******************************************** -->
	<!-- ************************************************************************************ -->

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/addart?pod="+pod+"&pid="+pid))"
			style="top:300px;color:#FFFFFF;left:825px;height:60px;">
		Art
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/NOVA?pod="+pod+"&pid="+pid))"
			style="top:380px;left:825px;height:60px;">
		S.V.O.
	</button>


	<!-- ************************************************************************************ -->
	<!-- ************************************* Buttons ************************************** -->
	<!-- ************************************************************************************ -->

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:700px;height:60px;color:RED;width:140px;">
		MEMO
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:780px;height:60px;color:RED;border:0px;width:140px;">
		HELP
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:860px;height:60px;color:RED;border:0px;width:140px;">
		Return
	</button>









</div>
