@page "/Invitation"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _configuration
@* @inject NounService nounService *@
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common;
@* @using IntelChat.Services; *@

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Language.png")no-repeat; /*Background to blob*/
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		background-color: #000000;
		color: white;
		opacity: 100%;
		width: 1920px;
		height: 1080px;
	}

	#btn-luster-noun {
		content: url(https://agineuralnet.blob.core.windows.net/banners/bnr_Brand.png);
		position: absolute;
		top: 85px;
		left: 820px;
		width: 140px;
		border-radius: 8px;
		background-size: cover;
	}

</style>

<div class="crud-page">
	<!-- ************************************************************************************ -->
	<!-- ************************** DISPLAY POD & Person ************************************ -->
	<!-- ************************************************************************************ -->
	<p style="color:#424242;font-size:24px">Pod: @pod</p>
	<p style="color:#424242;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ********************************** DISPLAY PANELS ********************************** -->
	<!-- ************************************************************************************ -->
	
	<div><img id="img-panel-fluer"></div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** ENTITY LIST  *********************************** -->
	<!-- ************************************************************************************ -->
		<br>
		<div style="font-size:x-large; ">
			<form @onsubmit="OnCreate">

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>


				<div class="exhibitInfo" style="overflow-y:scroll;">

					<label>
						Brand code:
						<input class="form-control" @bind="@entity["add"].BrandCode" maxlength="42" required />
					</label><br><br>
					<label>
						close date:
						<input class="form-control" @bind="@entity["add"].BrandRegDateClosed" required />
					</label><br><br>
					<label>
						maximum count:
						<input class="form-control" @bind="@entity["add"].BrandCntMax" required />
					</label><br><br>
					<label>
						role:
						<input class="form-control" @bind="@entity["add"].BrandRole" maxlength="4" required />
					</label><br><br>
					<label>
						eligibility:
						<input class="form-control" @bind="@entity["add"].BrandEligibility" required />
					</label><br>

				</div>

				<div class="exhibitInfo2">
					<label>
						brand label:
						<input class="form-control" @bind="@entity["add"].BrandLabel" maxlength="16" required />
					</label><br>

					<label>
						image:
						<input class="form-control" @bind="@entity["add"].BrandImage" maxlength="128" required />
					</label><br>

					<label>
						cost:
						<input class="form-control" @bind="@entity["add"].BrandCost" required />
					</label><br>



					@* 					<label>
				Channel Alpha:
				<input class="form-control" @bind="@entity["add"].ChannelAlpha" maxlength="4" required />
				</label><br>

				<label>
				Channel Beta:
				<input class="form-control" @bind="@entity["add"].ChannelBeta" maxlength="4" required />
				</label><br>

				<label>
				Channel Gamma:
				<input class="form-control" @bind="@entity["add"].ChannelGamma" maxlength="4" required />
				</label><br> *@
				</div>
			</form>
		</div>


	<!-- ************************************************************************************ -->
	<!-- ************************************* Buttons ************************************** -->
	<!-- ************************************************************************************ -->
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Administration?pod="+pod+"&pid="+pid))"
			style="top:840px;left:20px;height:60px;">
		MENU
	</button>

</div>



