@page "/NovaCrud"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _configuration
@* @inject NounService nounService *@
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common; 
@* @using IntelChat.Services; *@

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Noun.png")no-repeat; /*Background to blob*/
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		background-color: #000000;
		color: white;
		opacity: 100%;
		width: 1920px;
		height: 1080px;
	}

	#btn-luster-noun {
		content: url("https://agineuralnet.blob.core.windows.net/buttons/btn_NOVA.png");
		position: absolute;
		top: 85px;
		left: 820px;
		width: 140px;
		border-radius: 8px;
		background-size: cover;
	}

	.textarea-wide {
		width: 200ch;
	}


</style>

<div class="crud-page">
	<!-- ************************************************************************************ -->
	<!-- ************************** DISPLAY POD & Person ************************************ -->
	<!-- ************************************************************************************ -->
	<p style="color:#424242;font-size:24px">Pod: @pod</p>
	<p style="color:#424242;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ********************************** DISPLAY PANELS ********************************** -->
	<!-- ************************************************************************************ -->
	<div><img id="img-panel-marque"></div>
	<div><img id="btn-luster-noun"></div>
	<div><img id="img-panel-fluer"></div>

	<!-- ************************************************************************************ -->
	<!-- **************************** DISPLAY PANEL CRUD BUTTONS **************************** -->
	<!-- ************************************************************************************ -->
	<div class="boxButton">
		<button id="btn-panel-list"   @onclick="@(() => show = "list")"></button>
		<button id="btn-panel-add"    @onclick="@(() => show = "add")"></button>
		<button id="btn-panel-change" @onclick="@(() => show = "change")"></button>
		<button id="btn-panel-delete" @onclick="@(() => show = "delete")"></button>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** DOWNLOAD REPORT ******************************** -->
	<!-- ************************************************************************************ -->
	<div style="position:absolute; left: 1340px; top:300px;">
		<download-button @onclick="@(()=>_nav.NavigateTo("/DownloadPDF?pod="+pod+"&pid="+pid+"&entity="+pageName))">
			Download PDF
		</download-button>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** DIRECT SELECT ID ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="DirectSelect">
		<input id="directSelectId" class="FilterInput" type="text"
			   @oninput="UpdateDirectSelectId"
			   @onkeydown="HandleDirectSelectKeyPress"
			   placeholder="Enter ID" />
	</div>


	<!-- ************************************************************************************ -->
	<!-- *********************************** TAG FILTERING ********************************** -->
	<!-- ************************************************************************************ -->
	<div class="TagFilter">
		<input id="tagFilter" class="FilterInput" @bind="tagFilter" @oninput="ApplyTagFilter" placeholder="Enter Tag" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** ENTITY LIST  *********************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "list")
	{
		<div class="ShadowText">
			<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
		</div>

		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid+"&type=TASK"))" title="Create TEMP file from DD list - Page_Lascaux"
				style="z-index:2;position:absolute;left:340px;top:240px;height:60px;border:0px;width:140px;color:darkred">
			Lascaux
		</button>

		<!-- ****************************** PypeId is the primary value for the Dropdown selection ***************** -->
		<div class="exhibitPanel">
			<div class="ListFilter">
				<label>
					<select value="@filter["list"]" @onchange="@(e => filter["list"] = e.Value.ToString())">
						<option value="****">****</option>
						@foreach (var pype in pypes)
						{
							if (pype.PypeId == "NOVA")
							{
								<option value="@pype.PypeType">@pype.PypeLabel</option>
							}
						}
					</select>
				</label>
			</div>

			<table id="listTable">
				@*A "table" (really a list) of all records of the same type as selected table crud value*@
				<thead>
					<tr>
						<th>POD</th>
						<th>ID#</th>
						<th>Status</th>
						<th>Type</th>
						<th>Label</th>
						<th>Description</th>
					</tr>
				</thead>
				@foreach (var entity in entities)
				{   // Loop through each label of the currently selected table
					@if (filter["list"] == "****" || entity.NovaType == filter["list"])
					{
						<tr @onclick="@(() => OnItemSelected(entity.NovaId))"
							onmouseover="this.style.color='#AAAAAA'"
							onMouseOut="this.style.color='#FFFFFF'">
							@*
							<td @onclick="@(() => _nav.NavigateTo("/LocationDetails?pod="+pod+"&pid="+pid+"&id="+entity.LocationId+"&prevPage=/Location"))" onmouseover="this.style.color='#AAAAAA'" onMouseOut="this.style.color='#FFFFFF'">
								@entity.PodFk   @entity.LocationId   @entity.LocationStatus   @entity.LocationType   @entity.LocationLabel16   @entity.LocationDesc
							</td>
							*@
							
							<td>@entity.PodIdFk</td>
							<td>@entity.NovaId</td>
							<td>@entity.NovaStatus</td>
							<td>@entity.NovaType</td>
							<td>@entity.NovaLabel</td>
							<td>@entity.NovaDescription</td>
						</tr>
					}
					// Display only the goal's description
				}
			</table>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* NOVA CREATE ****************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "add")
	{
		<br>
		<div style="font-size:x-large; ">
			<form @onsubmit="OnCreate">

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<div class="boxFilter">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitCreate" type="submit"></button>
				</div>

				<div class="exhibitInfo" style="overflow-y:scroll;">

					<label>
						Label:
						<input class="form-control" @bind="@entity["add"].NovaLabel" maxlength="16"/>
					</label><br><br>

					<label>
						Type:
						<select @bind="@entity["add"].NovaType" required>
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "NOVA")
								{
									<option value="@pype.PypeType">@pype.PypeType</option>
								}
							}
						</select>
					</label><br><br>

					<label>
						Status:
						<input class="form-control" @bind="@entity["add"].NovaStatus" maxlength="1" required />
					</label><br><br>

					<label>
						Description:
						<input class="form-control" @bind="@entity["add"].NovaDescription" maxlength="255" required />
					</label><br><br>

					<label>
						Channel:
						<input class="form-control" @bind="@entity["add"].NovaChannel" required />
					</label><br><br>

					<label>
						Subject:
						<input class="form-control" @bind="@entity["add"].NovaSubject" required />
					</label><br><br>

					<label>
						Action:
						<input class="form-control" @bind="@entity["add"].NovaAction" required />
					</label><br><br>

					<label>
						Object:
						<input class="form-control" @bind="@entity["add"].NovaObject" required />
					</label><br><br>

					<label>
						DateTime:
						<input class="form-control" @bind="@entity["add"].NovaDatetime" required />
					</label><br><br>

					<label>
						POD ID FK:
						<input class="form-control" @bind="@entity["add"].PodIdFk" required />
					</label><br><br>

					<label>
						Person ID FK:
						<input class="form-control" @bind="@entity["add"].PersonIdFk" required />
					</label><br><br>

					<label>
						Priority:
						<input class="form-control" @bind="@entity["add"].NovaPrioriy" required />
					</label><br><br>
				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* NOVA CHANGE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("change"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnChange">
				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<div class="boxFilter">
					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["change"]" @onchange="@(e => OnChangeFilterChanged(e, "change"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "NOVA")
									{
										<option value="@pype.PypeType">@pype.PypeType</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["change"].NovaId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "change"); })">
								@foreach (var entity in (filter["change"] == "****") ? entities : entities.Where(entity => entity.NovaType == filter["change"]))
								{
									<option value="@entity.NovaId"> @entity.NovaLabel</option>
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitChange" type="submit"></button>
				</div>

				<div class="exhibitInfo" style="overflow-y:scroll;">
					<label style="width:160px; ">
						label 16:
						<input class="form-control" @bind="@entity["change"].NovaLabel" maxlength="16" />
					</label><br><br>


					<label style="width:100px; ">
                        status:
                        <input class="form-control" @bind="@entity["change"].NovaStatus" maxlength="1" required />
                    </label><br>

					<label style="width:100px; ">
                        channel:
                        <input class="form-control" @bind="@entity["change"].NovaChannel" required />
                    </label><br>

					<label style="width:100px; ">
						P.O.D.
						<input class="form-control" @bind="@entity["change"].PodIdFk" required />
					</label><br>

					<label style="width:100px; ">
						person:
						<input class="form-control" @bind="@entity["change"].PersonIdFk" required />
					</label><br>

                    <label style="width:100px; ">
                        priority:
                        <input class="form-control" @bind="@entity["change"].NovaPrioriy" required />
                    </label><br>

					<label style="position:absolute; top:500px;left:0px;width:360px; ">
						description 1024:
						<textarea class="form-control" @bind="@entity["change"].NovaDescription" maxlength="1024" required />
					</label>


				</div>

				<!-- ******************************** column 2 **************************************** -->

				<div class="exhibitInfo2">
					<label>
						type:
						<select @bind="@entity["change"].NovaType">
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "NOVA")
								{
									<option value="@pype.PypeType">@pype.PypeType</option>
								}
							}
						</select>
					</label><br><br>

					<label>
						subject:
						<input class="form-control" @bind="@entity["change"].NovaSubject" required />
					</label><br>

					<label>
						action:
						<input class="form-control" @bind="@entity["change"].NovaAction" required />
					</label><br>

					<label>
                        object:
						<input class="form-control" @bind="@entity["change"].NovaObject" required />
					</label><br>

					<label>
						date time:
						<input class="form-control" @bind="@entity["change"].NovaDatetime" required />
					</label><br>



					<label style="position:absolute; top:460px;left:0px;width:360px; ">
						tag (contains) 1024:
						<textarea class="form-control" @bind="@entity["change"].NovaTag" maxlength="1024" required />
					</label>

				</div>

			</form>

		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* NOVA DELETE ****************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("delete"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnDelete">

				<div class="ShadowText">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png"
						 style="border-radius: 12px;background-size: cover;">
				</div>

				<div class="boxFilter">

					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["delete"]" @onchange="@(e => OnChangeFilterChanged(e, "delete", "D"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "NOVA")
									{
										<option value="@pype.PypeType">@pype.PypeType</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["delete"].NovaId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "delete"); })">
								@foreach (var entity in (filter["delete"] == "****") ? entities : entities.Where(entity => entity.NovaType == filter["delete"]))
								{
									if (entity.NovaStatus == "D")
									{
										<option value="@entity.NovaId"> @entity.NovaLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitDelete" type="submit"></button>
				</div>
				<div class="exhibitInfo" style="overflow-y:scroll;">
					Only if the Status = D
				</div>
			</form>
		</div>
	}




	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("Expert?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:600px;height:60px;border:0px;width:140px;">
		Menu
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:680px;height:60px;border:0px;width:140px;">
		Lascaux
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Grid?pod="+pod+"&pid="+pid+"&entity="+pageName))"
			style="position:absolute;left:30px;top:760px;height:60px;border:0px;width:140px;">
		Grid
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Memo?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:840px;height:60px;border:0px;width:140px;">
		Memo
	</button>

</div>

<!-- *************************** End of Program ************* CFG Copyright 2025 ************************** -->
