@page "/Verb"
@inject NnetDbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@inject IConfiguration _configuration
@* @inject VerbService verbService *@
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@* @using IntelChat.Services; *@


<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Verb.png") no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		color:antiquewhite;
		background-color: #000000;
		opacity: 70%;
		width: 1920px;
		height: 1080px;
	}

	#btn-luster-verb {
		content: url("https://agineuralnet.blob.core.windows.net/buttons/btn_VERB.png");
		position: absolute;
		top: 85px;
		left: 820px;
		width: 140px;
		border-radius: 8px;
		background-size: cover;
	}



</style>

<div class="crud-page">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#333333;font-size:24px">Pod: @pod</p><br>
	<p style="color:#333333;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ******************************** DISPLAY PANELS ************************************ -->
	<!-- ************************************************************************************ -->
	<div><img id="img-panel-marque"></div>
	<div><img id="btn-luster-verb"></div>
	<div><img id="img-panel-fluer"></div>

	<!-- ************************************************************************************ -->
	<!-- *********************** DISPLAY PANEL CRUD BUTTONS ********* EXIT ****************** -->
	<!-- ************************************************************************************ -->

	<div class="boxButton">
		<button id="btn-panel-list"   @onclick="@(() => show = "list")"></button>
		<button id="btn-panel-add"    @onclick="@(() => show = "add")"></button>
		<button id="btn-panel-change" @onclick="@(() => show = "change")"></button>
		<button id="btn-panel-delete" @onclick="@(() => show = "delete")"></button>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** DIRECT SELECT ID ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="DirectSelect">
		<input id="directSelectId" class="FilterInput" type="text"
			   @oninput="UpdateDirectSelectId"
			   @onkeydown="HandleDirectSelectKeyPress"
			   placeholder="Enter ID" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** TAG FILTERING ********************************** -->
	<!-- ************************************************************************************ -->
	<div class="TagFilter">
		<input id="tagFilter" class="FilterInput" @bind="tagFilter" @oninput="ApplyTagFilter" placeholder="Enter Tag" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *************************************  VERB LIST  ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "list")
	{

		<div class="ShadowText">
			<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
		</div>

		<!-- *** this is the data that goes onto the shadow panel *** -->
		<div class="exhibitPanel" style="overflow-y:scroll;height:630px;text-overflow:ellipsis;overflow-x:scroll;">
			<div class="ListFilter">
				<label>
					<select value="@filter["list"]" @onchange="@(e => filter["list"] = e.Value.ToString())">
						<option value="****">****</option>
						@foreach (var pype in pypes)
						{
							if (pype.PypeId == StoredVerb)
							{
								<option value="@pype.PypeType">@pype.PypeLabel</option>
							}
						}
					</select>
				</label>
			</div>

			<table id="listTable">
				@*A "table" (really a list) of all records of the same type as selected table crud value*@
				<thead>
					<tr>
						<th>POD</th>
						<th>ID#</th>
						<th>Status</th>
						<th>Type</th>
						<th>Label</th>
						<th>Description</th>
					</tr>
				</thead>
				@foreach (var verb in entities)
				{   // Loop through each label of the currently selected table
					@if (filter["list"] == "****" || verb.VerbType == filter["list"])
					{
						<tr @onclick="@(() => OnItemSelected(verb.VerbId))"
							onmouseover="this.style.color='#AAAAAA'"
							onMouseOut="this.style.color='#FFFFFF'">
							
							<td>@verb.PodIdFk</td>
							<td>@verb.VerbId</td>
							<td>@verb.VerbStatus</td>
							<td>@verb.VerbType</td>
							<td>@verb.VerbLabel</td>
							<td>@verb.VerbDescription</td>
						</tr>
					}
					// Display only the goal's description
				}
			</table>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* VERB CREATE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "add")
	{
		<br>
		<div style="font-size:x-large; ">
			<form @onsubmit="OnCreate">

		<div class="ShadowText">
			<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
		</div>






				<div class="ShadowText">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png"
						 style="border-radius: 12px;background-size: cover;">
				</div>

				<div class="boxFilter">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitCreate" type="submit"></button>
				</div>

				<div class="exhibitInfo">

					<label>
						Verb Label 16:
						<input class="form-control" @bind="@entity["add"].VerbLabel" maxlength="16" required />
					</label><br><br>

					<label>
						Description:
						<input class="form-control" @bind="@entity["add"].VerbDescription" maxlength="255" required />
					</label><br><br>
					<label>
						Type
						<select @bind="@entity["add"].VerbType" required>
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == StoredVerb)
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>

					<label>
						Status:
						<input class="form-control" @bind="@entity["add"].VerbStatus" maxlength="1" required />
					</label><br><br>
				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* VERB CHANGE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("change"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnChange">
				@**@

				<div class="ShadowText">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png"
						 style="border-radius: 12px;background-size: cover;">
				</div>


				<div class="boxFilter">

					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["change"]" @onchange="@(e => OnChangeFilterChanged(e, "change"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == StoredVerb)
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["change"].VerbId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "change"); })">
								@foreach (var verb in (filter["change"] == "****") ? entities : entities.Where(verb => verb.VerbType == filter["change"]))
								{
									<option value="@verb.VerbId"> @verb.VerbLabel</option>
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitChange" type="submit"></button>
				</div>

				<div class="exhibitInfo">

					<label>
						label:
						<input class="form-control" @bind="@entity["change"].VerbLabel" maxlength="16" required />
					</label><br><br>

                    <label>
                        status:
                        <input class="form-control" @bind="@entity["change"].VerbStatus" maxlength="1" required />
                    </label><br><br>

@*                     <label>
                        common verb:
						<input class="form-control" @bind="@entity["change"].VerbIdFkCommon" type="number" required />
                    </label><br><br> *@

					<label style="position:absolute; top:400px;left:0px;width:700px; ">
						description 255:
						<textarea class="form-control" @bind="@entity["change"].VerbDescription" maxlength="255" required />
					</label>

					<label style="position:absolute; top:500px;left:0px;width:700px; ">
						tag (contains):
						<textarea class="form-control" @bind="@entity["change"].VerbTag" maxlength="1024" required />
					</label><br><br>

				</div>

				<div class="exhibitInfo2">

					<label>
						type:
						<select @bind="@entity["change"].VerbType" required>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == StoredVerb)
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>

					<label>
						P.O.D.
						<input class="form-control" @bind="@entity["change"].PodIdFk" type="number" required />
					</label><br><br>
				</div>

				<label style="position:absolute; top:415px; left:1580px;">
					Image ID:
					<input class="form-control" value="@entity["change"].UrlIdPk"
						   @onchange="OnUrlIdChanged"
						   type="number" required />
				</label><br /><br />

				@if (!string.IsNullOrEmpty(ImageUrl))
				{
					<div style="position: absolute; top: 177px; left: 1592px;">
						<label>Image Preview:</label>
						<br />
						<img src="@ImageUrl" alt="Selected Verb Image"
							 width="200" height="200" style="object-fit: inherit; border-radius: 8px;" />
					</div>
				}

			</form>
		</div>

	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* VERB DELETE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("delete"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnDelete">

				<div class="ShadowText">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png"
						 style="border-radius: 12px;background-size: cover;">
				</div>

				<div class="boxFilter">

					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["delete"]" @onchange="@(e => OnChangeFilterChanged(e, "delete", "D"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == StoredVerb)
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["delete"].VerbId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "delete"); })">
								@foreach (var verb in (filter["delete"] == "****") ? entities : entities.Where(verb => verb.VerbType == filter["delete"]))
								{
									if (verb.VerbStatus == "D")
									{
										<option value="@verb.VerbId"> @verb.VerbLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitDelete" type="submit"></button>
				</div>
				<div class="exhibitInfo">
					Only if the Status = D
				</div>
			</form>
		</div>
	}

	<div style="position:absolute; left: 1340px; top:300px;">
		<download-button @onclick="@(()=>_nav.NavigateTo("/DownloadPDF?pod="+pod+"&pid="+pid+"&entity"+pageName))">
			Download PDF
		</download-button>
	</div>


	<!-- ************************************************************************************ -->
	<!-- ******************************** NAVIGATION Buttons ******************************** -->
	<!-- ************************************************************************************ -->

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("Expert?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:600px;height:60px;border:0px;width:140px;">
		Menu
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
            style="position:absolute;left:30px;top:680px;height:60px;border:0px;width:140px;">
        Lascaux
    </button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Grid?pod="+pod+"&pid="+pid+"&entity="+pageName))"
			style="position:absolute;left:30px;top:760px;height:60px;border:0px;width:140px;">
		Grid
	</button>

    <button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Memo?pod="+pod+"&pid="+pid))"
            style="position:absolute;left:30px;top:840px;height:60px;border:0px;width:140px;">
        Memo
    </button>

</div>

<!-- *************************** End of Program ************* CFG Copyright 2025 ************************** -->


