@page "/Lascaux"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _config
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common;

<h3></h3>

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Lascaux.png") no-repeat;
		background-size: 1400px 800px;
		background-color: #000000;
		background-position: left 0px top 0px;
		opacity: 100%;
		color: White; 
	}


	button {
		padding: 0;
		margin: 0;
		width: 200px;
		height: 100px;
		text-align: center;
		top: 100px;
		color: black;
		background-color: pink;
		border-radius: 24px;
		position: absolute;
		left: 210px;
		opacity: 100%;
		transition-duration: .60s;
	}

	.buttonA {
		background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/btnArtifactA.png");
		background-size: cover;
		box-shadow: 0 30px 60px rgba(0,0,0,.5);
	}

	.buttonA:hover {
		box-shadow: 0 5px 10px rgba(0,0,0,.5);
		transform: scale(.95);
	}


	jukebox {
		position: absolute;
		left: 90%;
		top: 95%;
		border-radius: 0px;
		opacity: 40%;
	}


	boxCRUD {
		padding: 0;
		margin: 0;
		width: 1000px;
		height: 100px;
		text-align: right;
		top: 90px;
		left: 820px;
		color: #FF0000;
		position: absolute;
		opacity: 75%;
		background-image: url("Images/GUI/DC_GUI_user_Direction.png"); /*missing resource*/
		background-size: cover;
	}


	boxbuttons {
		padding: 0;
		margin: 0;
		width: 900px;
		height: 240px;
		text-align: right;
		top: 75px;
		left: 630px;
		color: #FF0000;
		position: absolute;
		opacity: 100%;
		background-image: url("Images/GUI/DC_GUI_user_Question.png"); /*missing resource*/
		background-size: cover;
	}

	.exhibitPanel {
		position: absolute;
		top: 370px;
		left: 500px;
		color: black;
		width: 540px;
		font-size: x-large;
		text-overflow: ellipsis;
		/* Required for text-overflow to do anything */
		white-space: nowrap;
		overflow: hidden;
	}

	.exhibitInfo {
		position: absolute;
		top: 350px;
		left: 600px;
		color: blanchedalmond;
		width: 540px;
		height: 700px;
		font-size: x-large;
		text-overflow: ellipsis;
		/* Required for text-overflow to do anything */
		white-space: nowrap;
		overflow: hidden;
	}

		.pod_pid {
		position: absolute;
		top: 38px;
		left: 1060px;
		color: blanchedalmond;
		width: 100px;
		height: 80px;
		font-size: medium;
		text-overflow: ellipsis;
		/* Required for text-overflow to do anything */
		white-space: nowrap;
		overflow: hidden;
	}

</style>


<h4 style="
		color: black;
		top: 33px;
		left: 1090px;
font-size:22px;
		position: absolute">
	P.O.D.# @pod
</h4>
<h4 style="
		color: black;
		top: 58px;
		left: 1090px;
font-size:22px;
		position: absolute">
	Person ID: @pid
</h4>

<!-- ************************************************************************************ -->
<!-- ************** Display NOVA Desc & Subject Action Object (SVO) Desc **************** -->
<!-- ************************************************************************************ -->

<label style="
		top:29px;
		left: 470px;
		position: absolute;
		font-size:22px;
		color: #000000;">@novaLasc.NovaSubjectDescription</label>
<label style="
		top: 80px;
		left: 470px;
		position: absolute;
		font-size:22px;
		color: #000000;">@novaLasc.NovaActionDescription</label>
<label style="
		top: 130px;
		left: 470px;
		position: absolute;
		font-size:22px;
		color: #000000;">@novaLasc.NovaObjectDescription</label>
<label style="
		top: 208px;
		left: 380px;
		width: 660px;
		height: 300px;
		color: black;
		padding: 10px;
		background-color: #F5F5DC;
		border: 3px solid #222222;
		border-radius: 10px;
		opacity: 0.5;
		position: absolute;
		font-size: 32px;">@novaLasc.NovaDescription</label>

<!-- ************************************************************************************ -->
<!-- ******************* Display NOVA#, Subject Action Object label-16 ****************** -->
<!-- ************************************************************************************ -->

<select style="
	top: 290px;
	left: 1300px;
	position: absolute" @bind=selectedId>
	@foreach (var nova in novas)
	{
		<option value="@nova.NovaId"> @nova.NovaId</option>
	}
</select>

<label style="
		top: 320px;
		left: 1170px;
		position: absolute;
		font-size:22px;
		color: #000000;">@novaLasc.NovaSubjectLabel</label>
<label style="
		top: 392px;
		left: 1170px;
		position: absolute;
		font-size:22px;
		color: #000000;">@novaLasc.NovaActionLabel</label>
<label style="
		top: 463px;
		left: 1170px;
		font-size:22px;
		position: absolute;
		color: #000000;">@novaLasc.NovaObjectLabel</label>

<!-- ************************************************************************************ -->
<!-- *************** Display SUBJECT ACTION OBJECT  ********  Petroglyphs  ************** -->
<!-- ************************************************************************************ -->

<div style="position: relative; height: 100%; width: 100%; border: none; z-index: 1000;">

	<!-- Subject Image -->
	@if (novaLasc.SubjectURL is not null)
	{
			<img src="@novaLasc.SubjectURL" alt="@novaLasc.NovaSubjectLabel"
				 style="position: absolute; top: @(subjectImagePosition.Y)px; left: @(subjectImagePosition.X)px;
                    width: @(subjectIsInsideDropZone ? $"{resizedImageSize.Width}px" : $"{originalImageSize.Width}px");
                    height: @(subjectIsInsideDropZone ? $"{resizedImageSize.Height}px" : $"{originalImageSize.Height}px");
                    z-index: @(subjectIsDragging ? "1005" : subjectZIndex);
                    cursor: @(subjectIsDragging ? "grabbing" : "grab"); user-drag: none; -webkit-user-drag: none;"
				 @onmousedown="@(e => StartDragging("Subject", e))"
				 @onmouseup="@(e => StopDragging("Subject", e))"
				 @onmousemove="@(e => OnMouseMove("Subject", e))" />
	}

	<!-- Action Image -->
	@if (novaLasc.ActionURL is not null)
	{
			<img src="@novaLasc.ActionURL" alt="@novaLasc.NovaActionLabel"
				 style="position: absolute; top: @(actionImagePosition.Y)px; left: @(actionImagePosition.X)px;
                    width: @(actionIsInsideDropZone ? $"{resizedImageSize.Width}px" : $"{originalImageSize.Width}px");
                    height: @(actionIsInsideDropZone ? $"{resizedImageSize.Height}px" : $"{originalImageSize.Height}px");
                    z-index: @(actionIsDragging ? "1005" : actionZIndex);
                    cursor: @(actionIsDragging ? "grabbing" : "grab"); user-drag: none; -webkit-user-drag: none;"
				 @onmousedown="@(e => StartDragging("Action", e))"
				 @onmouseup="@(e => StopDragging("Action", e))"
				 @onmousemove="@(e => OnMouseMove("Action", e))" />
	}

	<!-- Object Image -->
	@if (novaLasc.ObjectURL is not null)
	{
			<img src="@novaLasc.ObjectURL" alt="@novaLasc.NovaObjectLabel"
				 style="position: absolute; top: @(objectImagePosition.Y)px; left: @(objectImagePosition.X)px;
                    width: @(objectIsInsideDropZone ? $"{resizedImageSize.Width}px" : $"{originalImageSize.Width}px");
                    height: @(objectIsInsideDropZone ? $"{resizedImageSize.Height}px" : $"{originalImageSize.Height}px");
                    z-index: @(objectIsDragging ? "1005" : objectZIndex);
                    cursor: @(objectIsDragging ? "grabbing" : "grab"); user-drag: none; -webkit-user-drag: none;"
				 @onmousedown="@(e => StartDragging("Object", e))"
				 @onmouseup="@(e => StopDragging("Object", e))"
				 @onmousemove="@(e => OnMouseMove("Object", e))" />
	}

	<!-- Drop Zone for Subject/Object -->
	<div style="position: absolute; top: -2px; left: 1252px; width: 99px; height: 99px;
            border: 2px dashed lightgrey; cursor: pointer; z-index: 1004;
            background-color: rgba(255, 255, 255, 0.2); border-radius: 7px;">
		<p style="text-align: center; line-height: 150px; pointer-events: none;"></p>
	</div>

	<!-- Drop Zone for Action -->
	<div style="position: absolute; top: 111px; left: 1252px; width: 99px; height: 99px;
            border: 2px dashed lightgrey; cursor: pointer; z-index: 1004;
            background-color: rgba(255, 255, 255, 0.2); border-radius: 7px;">
		<p style="text-align: center; line-height: 150px; pointer-events: none;"></p>
	</div>

</div>

<!-- ************************************************************************************ -->
<!-- *********  PREVIOUS - NEXT - Display NOVA SVO (EXIT - to Previous Page) ************ -->
<!-- ************************************************************************************ -->

<button style="
		width:150px;
        height:60px;
        top:670px;
		left:10px;
		background-color:white;
		opacity: 20%;
		border-radius:8px;"
		@onclick="GoToPreviousNova">	
</button>

<button style="
		width:150px;
        height:60px;
        top:667px;
		left:1250px;
		background-color:white;
		opacity: 20%;
		border-radius:8px;"
		@onclick="GoToNextNova">	
</button>

<button style="
		width:80px;
        height:40px;
        top:590px;
		left:1290px;
		background-color:white;
		opacity: 20%;
		border-radius:8px;"
		@onclick="@(() => _nav.NavigateTo("/"+prevPage+"?pod="+pod+"&pid="+pid))">
	Return
</button>


<!-- ************************************************************************************ -->
<!-- ***************************  AUDIO CONTROLLER  ************************************* -->
<!-- ************************************************************************************ -->

@*<img src="https://lifelinkstore.blob.core.windows.net/images/Person.png" alt="Person" />*@
@*<jukebox>
	<div>
		<audio controls="controls">
			<source src="/images/Audio/curatorintrojazz.mp3" />
		</audio>
	</div>
</jukebox>*@

<!-- ************************************************************************************ -->
<!-- *****************************  POD NOVA ******************************************** -->
<!-- ************************************************************************************ -->


<!-- ************************************************************************************ -->
<!-- ************************************* IFrame Video ********************************* -->
<!-- ************************************************************************************ -->


<div style="position:absolute; top:200px; left:1400px; position:absolute; overflow:hidden; filter: brightness(70%); ">
	<iframe width="480" height="270" 
			src="https://www.youtube.com/embed/iEAlq1GPgnc"
			title="Create an EF Core Model from Database First (Scaffold DB Context)"
			frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
	</iframe>
</div>


@* <div> style="top:200px; right:0px; position:absolute; overflow:hidden; filter: brightness(70%); ">
<iframe width="456" height="258" right="0" top="20"
src="https://www.youtube.com/embed/iEAlq1GPgnc"   src="https://www.youtube.com/embed/SrEjoJ_G6tc"
title="Wolfgang Puck Answers Restaurant Questions From Twitter | Tech Support | WIRED" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div> *@



@* <div style="top:700px; left:1400px; position:absolute; overflow:hidden;">
	<iframe width='500' height='400' src="/Blobs/Video/Rain.mp4">
	</iframe>
</div> *@

