@page "/Noun"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _configuration
@* @inject NounService nounService*@
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common;
@* @using IntelChat.Services;  *@

<style> 
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Noun.png")no-repeat; /*Background to blob*/
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		color: antiquewhite;
		opacity: 70%;
		width: 1920px;
		height: 1080px;
		background-color: #000000;
	}

	#btn-luster-noun {
		content: url("https://agineuralnet.blob.core.windows.net/buttons/btn_NOUN.png");
		position: absolute;
		top: 85px;
		left: 820px;
		width: 140px;
		border-radius: 8px;
		background-size: cover;
	}

</style>

<div class="crud-page">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#333333;font-size:24px">Pod: @pod</p><br>
	<p style="color:#333333;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ********************************** DISPLAY PANELS ********************************** -->
	<!-- ************************************************************************************ -->
	<div><img id="img-panel-marque"></div>
	<div><img id="btn-luster-noun"></div>
	<div><img id="img-panel-fluer"></div>

	<!-- ************************************************************************************ -->
	<!-- **************************** DISPLAY PANEL CRUD BUTTONS ********** EXIT ************ -->
	<!-- ************************************************************************************ -->
	<div class="boxButton">
		<button id="btn-panel-list" @onclick="@(() => show = "list")"></button>
		<button id="btn-panel-add" @onclick="@(() => show = "add")"></button>
		<button id="btn-panel-change" @onclick="@(() => show = "change")"></button>
		<button id="btn-panel-delete" @onclick="@(() => show = "delete")"></button>




	</div>

	<div style="position:absolute; left: 1340px; top:300px;">
		<a href="@DownloadUrl" download="Filtered_Nouns.pdf" style="display: inline-block;  padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; font-weight: bold;">
			Download PDF
		</a>


	</div>
 
	<!-- ************************************************************************************ -->
	<!-- *********************************** DIRECT SELECT ID ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="DirectSelect">
		<input id="directSelectId" class="FilterInput" type="text"
			   @oninput="UpdateDirectSelectId"
			   @onkeydown="HandleDirectSelectKeyPress"
			   placeholder="Enter ID" />
	</div>


	<!-- ************************************************************************************ -->
	<!-- *********************************** TAG FILTERING ********************************** -->
	<!-- ************************************************************************************ -->
	<div class="TagFilter">
		<input id="tagFilter" class="FilterInput" @bind="tagFilter" @oninput="ApplyTagFilter" placeholder="Enter Tag" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** NOUN LIST GRID ************ shadow ************* -->
	<!-- ************************************************************************************ -->
	@if (show == "list")
	{

		<div class="ShadowText">
			<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
		</div>

		<!-- *** this is the data that goes onto the shadow panel *** -->
		<div class="exhibitPanel" style="overflow-y:scroll;height:630px;text-overflow:ellipsis;overflow-x:scroll;">
			<div class="ListFilter">
				<label>
					<select value="@filter["list"]" @onchange="@(e => filter["list"] = e.Value.ToString())">
						<option value="****">****</option>
						@foreach (var pype in pypes)
						{
							if (pype.PypeId == StoredNoun)
							{
								<option value="@pype.PypeType">@pype.PypeLabel</option>
							}
						}
					</select>
				</label>
			</div>

			<table id="listTable">
				@*A "table" (really a list) of all records of the same type as selected table crud value*@
				<thead>
					<tr>
						<th>POD</th>
						<th>ID#</th>
						<th>Status</th>
						<th>Type</th>
						<th>Label</th>
						<th>Description</th>
					</tr>
				</thead>
				@foreach (var noun in entities)
				{   // Loop through each label of the currently selected table
					@if (filter["list"] == "****" || noun.NounType == filter["list"])
					{
						<tr @onclick="@(() => OnItemSelected(noun.NounId))"
								onmouseover="this.style.color='#AAAAAA'"
								onMouseOut="this.style.color='#FFFFFF'">
							<td >@noun.PodIdFk</td>
							<td>@noun.NounId</td>
							<td>@noun.NounStatus</td>
							<td>@noun.NounType</td>
							<td>@noun.NounLabel</td>
							<td>@noun.NounDescription</td>
						</tr>
					}
					// Display only the goal's description
				}
			</table>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* NOUN CREATE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "add")
	{
		<br>
		<div style="font-size:x-large; ">
			<form @onsubmit="OnCreate">

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<div class="boxFilter">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitCreate" type="submit"></button>
				</div>

				<div class="exhibitInfo">

					<label>
						Noun Label 16:
						<input class="form-control" @bind="@entity["add"].NounLabel" maxlength="16" required />
					</label><br><br>

					<label>
						Description:
						<input class="form-control" @bind="@entity["add"].NounDescription" maxlength="255" required />
					</label><br><br>


					<!--Index 0 is represented by ****, but has a value of "", The db will assign pypetype as NONE
						This needs to be done becuase it does not consider keeping the value currently in dropdown as selected if clicked on,
						we need a default/blank for NONE or null. added with <option value="">****</option>, this will need to be repeated
						wherever a dropdown is ASSIGNING something for the first time. If it has a value, we do not need a default null selection
					-->
				</div>

				<div class="exhibitInfo2">
					<label>
						<select @bind="@entity["add"].NounType">
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == StoredNoun)
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>

					<label>
						Status:
						<input class="form-control" @bind="@entity["add"].NounStatus" maxlength="1" required />
					</label><br><br>
				</div>

			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* NOUN CHANGE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("change"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnChange">
				@**@

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>


				<div class="boxFilter">

					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["change"]" @onchange="@(e => OnChangeFilterChanged(e, "change"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == StoredNoun)
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["change"].NounId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "change"); })">
								@foreach (var noun in (filter["change"] == "****") ? entities : entities.Where(noun => noun.NounType == filter["change"]))
								{
									<option value="@noun.NounId"> @noun.NounLabel</option>
								}
							</select>
						</label>
					</div>

					<!-- ******** commit panel ******** -->
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<!-- ******** commit button ******** -->
					<button class="commitChange" type="submit"></button>
				</div>

				<div class="exhibitInfo">

					<label>
						label:
						<input class="form-control" @bind="@entity["change"].NounLabel" maxlength="16" required />
					</label><br><br>

					<label>
						description:
						<input class="form-control" @bind="@entity["change"].NounDescription" maxlength="255" required />
					</label><br><br>

					<label style="position:absolute; top:400px;left:0px; ">
						tag (contains):
						<textarea class="form-control" @bind="@entity["change"].NounTag" maxlength="1024" required />
					</label><br><br>

				</div>

				<div class="exhibitInfo2">

					<label>

						<select @bind="@entity["change"].NounType" required>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == StoredNoun)
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>

					<label>
						status:
						<input class="form-control" @bind="@entity["change"].NounStatus" maxlength="1" required />
					</label><br><br>

					<label>
						common parent:
						<input class="form-control" @bind="@entity["change"].NounIdFkCommon" type="number" required />
					</label><br><br>
				</div>

				<label style="position:absolute; top:415px; left:1580px;">
					Image ID:
					<input class="form-control" value="@entity["change"].UrlIdPk"
						   @onchange="OnUrlIdChanged"
						   type="number" required />
				</label><br /><br />

				@if (!string.IsNullOrEmpty(ImageUrl))
				{
					<div style="position: absolute; top: 177px; left: 1592px;">
						<label>Image Preview:</label>
						<br />
						<img src="@ImageUrl" alt="Selected Noun Image"
							 width="200" height="200" style="object-fit: inherit; border-radius: 8px;" />
					</div>
				}

			</form>
		</div>

	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* NOUN DELETE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("delete"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnDelete">

				<div class="ShadowText">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png"
						 style="border-radius: 12px;background-size: cover;">
				</div>

				<div class="boxFilter">

					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["delete"]" @onchange="@(e => OnChangeFilterChanged(e, "delete", "D"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == StoredNoun)
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["delete"].NounId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "delete"); })">
								@foreach (var noun in (filter["delete"] == "****") ? entities : entities.Where(noun => noun.NounType == filter["delete"]))
								{
									if (noun.NounStatus == "D")
									{
										<option value="@noun.NounId"> @noun.NounLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitDelete" type="submit"></button>
				</div>
				<div class="exhibitInfo">
					Only if the Status = D
				</div>
			</form>
		</div>
	}


	<!-- ************************************************************************************ -->
	<!-- ******************************** NAV_ Buttons ************************************** -->
	<!-- ************************************************************************************ -->

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:600px;height:60px;border:0px;width:140px;">
		Exit
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Memo?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:680px;height:60px;border:0px;width:140px;">
		Memo
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Grid?pod="+pod+"&pid="+pid+"&entity="+pageName))"
			style="position:absolute;left:30px;top:760px;height:60px;border:0px;width:140px;">
		Grid
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:840px;height:60px;border:0px;width:140px;">
		Return
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/DownloadPDF?pod="+pod+"&pid="+pid+"&entity="+pageName))"
			style="position:absolute;left:30px;top:920px;height:60px;border:0px;width:140px;">
		Download pdf
	</button>

	

</div>



