@page "/Question"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _configuration
@inject NounService nounService
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common;
@using IntelChat.Services;

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Noun.png")no-repeat; /*Background to blob*/
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		color: antiquewhite;
		opacity: 70%;
		width: 1920px;
		height: 1080px;
		background-color: #000000;
	}

	#btn-luster-crud {
		content: url("https://agineuralnet.blob.core.windows.net/buttons/btn_Question.png");
		position: absolute;
		top: 85px;
		left: 820px;
		width: 140px;
		border-radius: 8px;
		background-size: cover;
	}

</style>

<div class="crud-page">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#333333;font-size:24px">Pod: @pod</p><br>
	<p style="color:#333333;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ********************************** DISPLAY PANELS ********************************** -->
	<!-- ************************************************************************************ -->
	<div><img id="img-panel-marque"></div>
	<div><img id="btn-luster-crud"></div>
	<div><img id="img-panel-fluer"></div>

	<!-- ************************************************************************************ -->
	<!-- **************************** DISPLAY PANEL CRUD BUTTONS **************************** -->
	<!-- ************************************************************************************ -->
	<div class="boxButton">
		<button id="btn-panel-list" @onclick="@(() => show = "list")"></button>
		<button id="btn-panel-add" @onclick="@(() => show = "add")"></button>
		<button id="btn-panel-change" @onclick="@(() => show = "change")"></button>
		<button id="btn-panel-delete" @onclick="@(() => show = "delete")"></button>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** DIRECT SELECT ID ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="DirectSelect">
		<input id="directSelectId" class="FilterInput" type="text"
			   @oninput="UpdateDirectSelectId"
			   @onkeydown="HandleDirectSelectKeyPress"
			   placeholder="Enter ID" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** TAG FILTERING ********************************** -->
	<!-- ************************************************************************************ -->
	<div class="TagFilter">
		<input id="tagFilter" class="FilterInput" @bind="tagFilter" @oninput="ApplyTagFilter" placeholder="Enter Tag" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** ENTITY LIST  *********************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "list")
	{
		<div class="ShadowText">
			<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
		</div>

		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid+"&type=QUESTION"))" title="Create TEMP file from DD list - Page_Lascaux"
				style="z-index:2;position:absolute;left:340px;top:240px;height:60px;border:0px;width:140px;color:darkred">
			Lascaux
		</button>

		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/DownloadPDF?pod="+pod+"&pid="+pid+"&entity=Question"))"
				style="position:absolute;left:30px;top:920px;height:60px;border:0px;width:140px;">
			Download pdf
		</button>


		<div class="exhibitPanel">
			<div class="ListFilter">
				<label>
					<select value="@filter["list"]" @onchange="@(e => filter["list"] = e.Value.ToString())">
						<option value="****">****</option>
						@foreach (var pype in pypes)
						{
							if (pype.PypeId == "QSTN")
							{
								<option value="@pype.PypeType">@pype.PypeLabel</option>
							}
						}
					</select>
				</label>
			</div>

			@{
				// Filter the entities based on the selected value
				var filteredEntities = (filter["list"] == "****")
					? entities
					: entities.Where(entity => entity.QuestionType == filter["list"]);

				Page_Task.novaT.novaParamValue = string.Join(",", filteredEntities.Select(entity => entity.NovaIdFk));
				//Console.WriteLine($"Filtered NovaIdFk values Work: {Page_Task.novaT.novaParamValue}");
			}

			<table id="listTable">
				@*A "table" (really a list) of all records of the same type as selected table crud value*@
				
				<thead>
					<tr>
						<th>ID#</th>
						<th>Status</th>
						<th>Type</th>
						<th>Text</th>
						<th>Nova Id</th>
					</tr>
				</thead>
				@foreach (var entity in entities)
				{   // Loop through each label of the currently selected table
					@if (filter["list"] == "****" || entity.QuestionType == filter["list"])
					{
						<tr @onclick="@(() => OnItemSelected(entity.QuestionId))"
							onmouseover="this.style.color='#AAAAAA'"
							onMouseOut="this.style.color='#FFFFFF'">
							@*
				<td @onclick="@(() => _nav.NavigateTo("/LocationDetails?pod="+pod+"&pid="+pid+"&id="+entity.LocationId+"&prevPage=/Location"))" onmouseover="this.style.color='#AAAAAA'" onMouseOut="this.style.color='#FFFFFF'">
				@entity.PodFk   @entity.LocationId   @entity.LocationStatus   @entity.LocationType   @entity.LocationLabel16   @entity.LocationDesc
				</td>
				*@
							<td>@entity.QuestionId</td>
							<td>@entity.QuestionStatus</td>
							<td>@entity.QuestionType</td>
							<td>@entity.QuestionText</td>
							<td>@entity.NovaIdFk</td>
							
						</tr>
					}
					// Display only the goal's description
				}
			</table>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* Question CREATE ****************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "add")
	{
		<br>
		<div style="font-size:x-large; ">
			<form @onsubmit="OnCreate">

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<div class="boxFilter">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitCreate" type="submit"></button>
				</div>





				<div class="exhibitInfo" style="overflow-y:scroll;">

                    <label>
                        Status:
                        <input class="form-control" @bind="@entity["add"].QuestionStatus" maxlength="1" required />
                    </label><br><br>

                    <label>
                        Text:
                        <input class="form-control" @bind="@entity["add"].QuestionText" maxlength="255" required />
                    </label><br><br>

                    <label>
                        NOVA ID FK:
                        <input class="form-control" @bind="@entity["add"].NovaIdFk" required />
                    </label><br><br>
				</div>

				<div class="exhibitInfo2">

					<label>
						Type:
						<select @bind="@entity["add"].QuestionType">
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "QSTN")
								{
									<option value="@pype.PypeType">@pype.PypeType</option>
								}
							}
						</select>
					</label><br><br>


				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* QUESTION CHANGE ****************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("change"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnChange">

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<div class="boxFilter">
					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["change"]" @onchange="@(e => OnChangeFilterChanged(e, "change"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "QSTN")
									{
										<option value="@pype.PypeType">@pype.PypeType</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["change"].QuestionId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "change"); })">
								@foreach (var entity in (filter["change"] == "****") ? entities : entities.Where(entity => entity.QuestionType == filter["change"]))
								{
									<option value="@entity.QuestionId"></option>
								}
							</select>
						</label>
					</div>



					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitChange" type="submit"></button>




				</div>

				<div class="exhibitInfo" style="overflow-y:scroll;">
                    <label>
                        Status:
                        <input class="form-control" @bind="@entity["change"].QuestionStatus" maxlength="1" required />
                    </label><br><br>

                    <label>
                        Text:
                        <input class="form-control" @bind="@entity["change"].QuestionText" maxlength="255" required />
                    </label><br><br>

                    <label>
                        NOVA ID FK:
                        <input class="form-control" @bind="@entity["change"].NovaIdFk" required />
                    </label><br><br>
				</div>

				<div class="exhibitInfo2">
					<label>
						Type:
						<select @bind="@entity["change"].QuestionType">
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "QSTN")
								{
									<option value="@pype.PypeType">@pype.PypeType</option>
								}
							}
						</select>
					</label><br><br>
				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* QUESTION DELETE ****************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("delete"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnDelete">

				<div class="ShadowText">
					<img src="https://intelchatstorage.blob.core.windows.net/uipanelscontainer/shadow_black.png"
						 style="border-radius: 12px;background-size: cover;">
				</div>

				<div class="boxFilter">

					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["delete"]" @onchange="@(e => OnChangeFilterChanged(e, "delete", "D"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "QSTN")
									{
										<option value="@pype.PypeType">@pype.PypeType</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["delete"].QuestionId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "delete"); })">
								@foreach (var entity in (filter["delete"] == "****") ? entities : entities.Where(entity => entity.QuestionType == filter["delete"]))
								{
									if (entity.QuestionStatus == "D")
									{
										<option value="@entity.QuestionId"></option>
									}
								}
							</select>
						</label>
					</div>

					<img src="https://intelchatstorage.blob.core.windows.net/uipanelscontainer/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitDelete" type="submit"></button>
				</div>
				<div class="exhibitInfo" style="overflow-y:scroll;">
					Only if the Status = D
				</div>
			</form>
		</div>
	}
</div>



