@page "/POD"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _configuration
@inject NounService nounService
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common;
@using IntelChat.Services;

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Language.png")no-repeat; /*Background to blob*/
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		background-color: #000000;
		color: white;
		opacity: 100%;
		width: 1920px;
		height: 1080px;
	}

	#btn-luster-noun {
		content: url(https://agineuralnet.blob.core.windows.net/banners/bnr_POD.png);
		position: absolute;
		top: 85px;
		left: 820px;
		width: 140px;
		border-radius: 8px;
		background-size: cover;
	}


	}
</style>

<div class="crud-page">
	<!-- ************************************************************************************ -->
	<!-- ************************** DISPLAY POD & Person ************************************ -->
	<!-- ************************************************************************************ -->

	<h3>
		<p style="color:#424242;font-size:24px">Pod: @pod</p>
		<p style="color:#424242;font-size:24px;top:48px;position:absolute">Pid: @pid</p>
	</h3>

	<!-- ************************************************************************************ -->
	<!-- ********************************** DISPLAY PANELS ********************************** -->
	<!-- ************************************************************************************ -->
	<div><img id="img-panel-marque"></div>
	<div><img id="btn-luster-noun"></div>
	<div><img id="img-panel-fluer"></div>
	<div><img id="img-table"></div>

	<!-- ************************************************************************************ -->
	<!-- **************************** DISPLAY PANEL CRUD BUTTONS **************************** -->
	<!-- ************************************************************************************ -->
	<div class="boxButton">
		<button id="btn-panel-list"   @onclick="@(() => show = "list")"></button>
		<button id="btn-panel-add"    @onclick="@(() => show = "add")"></button>
		<button id="btn-panel-change" @onclick="@(() => show = "change")"></button>
		<button id="btn-panel-delete" @onclick="@(() => show = "delete")"></button>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** DIRECT SELECT ID ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="DirectSelect">
		<input id="directSelectId" class="FilterInput" type="text"
			   @oninput="UpdateDirectSelectId"
			   @onkeydown="HandleDirectSelectKeyPress"
			   placeholder="Enter ID" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** TAG FILTERING ********************************** -->
	<!-- ************************************************************************************ -->
	<div class="TagFilter">
		<input id="tagFilter" class="FilterInput" @bind="tagFilter" @oninput="ApplyTagFilter" placeholder="Enter Tag" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** ENTITY LIST  *********************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "list")
	{
		<div class="ShadowText">
			<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
		</div>

		<div class="exhibitPanel">
			<div class="ListFilter">
				<label>
					<select value="@filter["list"]" @onchange="@(e => filter["list"] = e.Value.ToString())">
						<option value="****">****</option>
						@foreach (var pype in pypes)
						{
							if (pype.PypeId == "PODS")
							{
								<option value="@pype.PypeType">@pype.PypeLabel</option>
							}
						}
					</select>
				</label>
			</div>

			<table id="listTable">
				@*A "table" (really a list) of all records of the same type as selected table crud value*@
				<tr>
					<th>ID# Status Type Label Description</th>
				</tr>
				@foreach (var pod in entities)
				{   // Loop through each label of the currently selected table
					@if (filter["list"] == "****" || pod.PodPypeDdPods == filter["list"])
					{
						<tr>
							@*
							<td @onclick="@(() => _nav.NavigateTo("/LocationDetails?pod="+pod+"&pid="+pid+"&id="+entity.LocationId+"&prevPage=/Location"))" onmouseover="this.style.color='#AAAAAA'" onMouseOut="this.style.color='#FFFFFF'">
								@entity.PodFk   @entity.LocationId   @entity.LocationStatus   @entity.LocationType   @entity.LocationLabel16   @entity.LocationDesc
							</td>
							*@
							<td @onclick="@(() => OnItemSelected(pod.PodId))"
								onmouseover="this.style.color='#AAAAAA'"
								onMouseOut="this.style.color='#FFFFFF'">
								@pod.PodId   @pod.PodStatus   @pod.PodPypeDdPods   @pod.PodLabel   @pod.PodDescription
							</td>
						</tr>
					}
					// Display only the goal's description
				}
			</table>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* POD CREATE *********************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "add")
	{
		<br>
		<div style="font-size:x-large; ">
			<form @onsubmit="OnCreate">

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>
				<div class="boxFilter">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitCreate" type="submit"></button>
				</div>
				<div class="exhibitInfo" style="overflow-y:scroll;">
					<label>
						label 16:
						<input class="form-control" @bind="@entity["add"].PodLabel" maxlength="16" required />			</label><br><br>
                    <label>
                        channel 4:
						<input class="form-control" @bind="@entity["add"].PodPypeDdChan" required />					</label><br>
					<label>
						date time:
						<input class="form-control" @bind="@entity["add"].PodPypeDdTime" required />					</label><br>
                    <label>
                        URL link 128:
						<input class="form-control" @bind="@entity["add"].PodImage" maxlength="128" required />			</label><br>
					<label>
						pype noun:
						<input class="form-control" @bind="@entity["add"].PodPypeNoun" required />						</label><br>
					<label>
						pype verb:
						<input class="form-control" @bind="@entity["add"].PodPypeVerb" maxlength="128" required />		</label><br><br>
					<label>
						mission 256: tag: (contains)
					</label><br>

                    <!-- ****************************************************************************************************************** textarea ********************* -->
                    <textarea style="position:absolute; top:550px;left:0px;width:400px;height:80px; ">
						<input class="form-control" @bind="@entity["add"].PodDescription" maxlength="256" required />
                     </textarea>

					<!-- ****************************************************************************************************************** textarea ********************* -->
					<textarea style="position:absolute; top:650px;left:0px;width:700px;height:80px; ">
						<input class="form-control" @bind="@entity["add"].PodTag" maxlength="1024" required />
					</textarea>
				</div>

				<div class="exhibitInfo2">
					<label>
						<select @bind="@entity["add"].PodPypeDdPods">
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "PODS")
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>

					<label>
						status:
						<input class="form-control" @bind="@entity["add"].PodStatus" maxlength="1" required /></label><br>
					<label>
						person #:
						<input class="form-control" @bind="@entity["add"].PersonIdFk" required />			</label><br>
					<label>
						location #:
						<input class="form-control" @bind="@entity["add"].LocationIdFk" required />			</label><br>
					<label>
						program #:
						<input class="form-control" @bind="@entity["add"].ProgramIdFk" required />			</label><br>
					<label>
						guide #:
						<input class="form-control" @bind="@entity["add"].GuideIdFk" required />			</label><br>
                    <label>
                        NOVA #:
                        <input class="form-control" @bind="@entity["add"].NovaIdFk" required />				</label><br>

				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* POD CHANGE *********************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("change"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnChange">
				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<div class="boxFilter">
					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["change"]" @onchange="@(e => OnChangeFilterChanged(e, "change"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "PODS")
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["change"].PodId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "change"); })">
								@foreach (var entity in (filter["change"] == "****") ? entities : entities.Where(entity => entity.PodPypeDdPods == filter["change"]))
								{
									<option value="@entity.PodId"> @entity.PodLabel</option>
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitChange" type="submit"></button>
				</div>

				<div class="exhibitInfo" style="overflow-y:scroll;">
					<label>
						label 16:
						<input class="form-control" @bind="@entity["change"].PodLabel" maxlength="16" required />		</label><br><br>
                    <label>
                        channel 4:
                        <input class="form-control" @bind="@entity["change"].PodPypeDdChan" required />					</label><br>
					<label>
						date time:
						<input class="form-control" @bind="@entity["change"].PodPypeDdTime" required />					</label><br>
                    <label>
                        URL link 128:
                        <input class="form-control" @bind="@entity["change"].PodImage" maxlength="128" required />		</label><br>
					<label>
						pype noun:
						<input class="form-control" @bind="@entity["change"].PodPypeNoun" maxlength="4" required />		</label><br>
					<label>
						pype verb:
						<input class="form-control" @bind="@entity["change"].PodPypeVerb" maxlength="4" required />		</label><br><br />

					<label>
						mission 256: tag: (contains)
					</label><br>

                    <!-- ****************************************************************************************************************** textarea ********************* -->
                    <textarea style="position:absolute; top:550px;left:0px;width:400px;height:80px; ">
						<input class="form-control" @bind="@entity["change"].PodDescription" maxlength="256" required />
                    </textarea>

					<!-- ****************************************************************************************************************** textarea ********************* -->
					<textarea style="position:absolute; top:650px;left:0px;width:700px;height:80px; ">
						<input class="form-control" @bind="@entity["change"].PodTag" maxlength="1024" required />
					</textarea>
				</div>

				<div class="exhibitInfo2">
					<label>
						<select @bind="@entity["change"].PodPypeDdPods">
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "PODS")
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>
                    <label>
                        status:
                        <input class="form-control" @bind="@entity["change"].PodStatus" maxlength="1" required />	</label><br>
					<label>
						person #:
						<input class="form-control" @bind="@entity["change"].PersonIdFk" required />				</label><br>
					<label>
						location #:
						<input class="form-control" @bind="@entity["change"].LocationIdFk" required />				</label><br>
					<label>
						program #:
						<input class="form-control" @bind="@entity["change"].ProgramIdFk" required />				</label><br>
					<label>
						guide #:
						<input class="form-control" @bind="@entity["change"].GuideIdFk" required />					</label><br>
					<label>
						NOVA #:
						<input class="form-control" @bind="@entity["change"].NovaIdFk" required />					</label><br>
				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ****************************************** POD DELETE ****************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("delete"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnDelete">

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
						 style="border-radius: 12px;background-size: cover;">
				</div>

				<div class="boxFilter">

					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["delete"]" @onchange="@(e => OnChangeFilterChanged(e, "delete", "D"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "PODS")
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["delete"].PodId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "delete"); })">
								@foreach (var entity in (filter["delete"] == "****") ? entities : entities.Where(entity => entity.PodPypeDdPods == filter["delete"]))
								{
									if (entity.PodStatus == "D")
									{
										<option value="@entity.PodId"> @entity.PodLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitDelete" type="submit"></button>
				</div>
				<div class="exhibitInfo" style="overflow-y:scroll;">
					Only if the Status = D
				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* HELP Overlay ********************************* -->
	<!-- ************************************************************************************ -->
	@if (showIframe)
	{
		<div>
			<iframe src="@imagePath" width="1400" height="920" frameborder="0"
					style="position:absolute; top:0px;left:0px;width:1920px; height:1080px; opacity:90%;">
			</iframe>
			<br />
			<button class="general-menu-button" @onclick="CloseIframe"
					style="position:absolute; top:400px;left:40px; opacity:100%;height:60px;border:0px;brightness:100%;width:140px;color:red">
				Close
			</button>
		</div>
	}
	else
	{
		<button class="general-menu-button" @onclick="OpenIframe"
				style="position:absolute; top:400px;left:40px; opacity:80%;height:60px;border:0px;width:140px;color:red">
			HELP
		</button>
	}
	@code {
		private bool showIframe = false;
		private string imagePath = "https://agineuralnet.blob.core.windows.net/background/BG_CRUD_page_help.png";

		private void OpenIframe()
		{ showIframe = true; }

		private void CloseIframe()
		{ showIframe = false; }
	}

	<!-- ************************************************************************************ -->
	<!-- ******************************** NAVIGATION Buttons ******************************** -->
	<!-- ************************************************************************************ -->

	@* 	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:600px;height:60px;border:0px;width:140px;">
		Chat
	</button> *@

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:760px;height:60px;border:0px;width:140px;">
		Memo
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:840px;height:60px;border:0px;width:140px;">
		Lascaux
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Expert?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:920px;height:60px;border:0px;width:140px;">
		Menu
	</button>

</div>

<!-- *************************** End of Program ************* CFG Copyright 2025 ************************** -->




