@page "/Guide"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _configuration
@inject NounService nounService
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common;
@using IntelChat.Services;

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Noun.png")no-repeat; /*Background to blob*/
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		color: antiquewhite;
		opacity: 70%;
		width: 1920px;
		height: 1080px;
		background-color: #000000;
	}

	#btn-luster-crud {
		content: url("https://agineuralnet.blob.core.windows.net/buttons/btn_Guide.png");
		position: absolute;
		top: 85px;
		left: 820px;
		width: 140px;
		border-radius: 8px;
		background-size: cover;
	}

</style>

<div class="crud-page">
	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:grey;font-size:24px">Pod: @pod</p><br>
	<p style="color:grey;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ********************************** DISPLAY PANELS ********************************** -->
	<!-- ************************************************************************************ -->
	<div><img id="img-panel-marque"></div>
	<div><img id="btn-luster-crud"></div>
	<div><img id="img-panel-fluer"></div>

	<!-- ************************************************************************************ -->
	<!-- **************************** DISPLAY PANEL CRUD BUTTONS **************************** -->
	<!-- ************************************************************************************ -->
	<div class="boxButton">
		<button id="btn-panel-list"   @onclick="@(() => show = "list")"></button>
		<button id="btn-panel-add"    @onclick="@(() => show = "add")"></button>
		<button id="btn-panel-change" @onclick="@(() => show = "change")"></button>
		<button id="btn-panel-delete" @onclick="@(() => show = "delete")"></button>

		

	</div>

	<!-- ************************************************************************************ -->
	<!-- **************************** DISPLAY PANEL CRUD BUTTONS ********** EXIT ************ -->
	<!-- ************************************************************************************ -->
	<div class="boxButton">
		<button id="btn-panel-list" @onclick="@(() => show = "list")"></button>
		<button id="btn-panel-add" @onclick="@(() => show = "add")"></button>
		<button id="btn-panel-change" @onclick="@(() => show = "change")"></button>
		<button id="btn-panel-delete" @onclick="@(() => show = "delete")"></button>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** DIRECT SELECT ID ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="DirectSelect">
		<input id="directSelectId" class="FilterInput" type="text"
			   @oninput="UpdateDirectSelectId"
			   @onkeydown="HandleDirectSelectKeyPress"
			   placeholder="Enter ID" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** DOWNLOAD REPORT ******************************** -->
	<!-- ************************************************************************************ -->
	<div style="position:absolute; left: 1340px; top:300px;">
		<download-button @onclick="@(()=>_nav.NavigateTo("/DownloadPDF?pod="+pod+"&pid="+pid+"&entity=Guide"))">
			Download PDF
		</download-button>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** TAG FILTERING ********************************** -->
	<!-- ************************************************************************************ -->
	<div class="TagFilter">
		<input id="tagFilter" class="FilterInput" @bind="tagFilter" @oninput="ApplyTagFilter" placeholder="Enter Tag" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** ENTITY LIST  *********************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "list")
	{
		<div class="ShadowText">
			<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
		</div>

		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid+"&type=GUIDE"))" title="Create TEMP file from DD list - Page_Lascaux"
				style="z-index:2;position:absolute;left:340px;top:240px;height:60px;border:0px;width:140px;color:darkred">
			Lascaux
		</button>

		<div class="exhibitPanel">
			<div class="ListFilter">
				<label>
					<select value="@filter["list"]" @onchange="@(e => filter["list"] = e.Value.ToString())">
						<option value="****">****</option>
						@foreach (var pype in pypes)
						{
							if (pype.PypeId == "GUID")
							{
								<option value="@pype.PypeType">@pype.PypeLabel</option>
							}
						}
					</select>
				</label>
			</div>

			@{
				// Filter the entities based on the selected value
				var filteredEntities = (filter["list"] == "****")
					? entities
					: entities.Where(entity => entity.GuideType == filter["list"]);

				Page_Task.novaT.novaParamValue = string.Join(",", filteredEntities.Select(entity => entity.NovaIdFk));
				//Console.WriteLine($"Filtered NovaIdFk values Work: {Page_Task.novaT.novaParamValue}");
			}

			<table id="listTable">
				@*A "table" (really a list) of all records of the same type as selected table crud value*@
				<thead>
					<tr>
						<th>ID#</th>
						<th>Status</th>
						<th>Type</th>
						<th>Label</th>
						<th>Purpose</th>
					</tr>
				</thead>
				@foreach (var entity in entities)
				{   // Loop through each label of the currently selected table
					@if (filter["list"] == "****" || entity.GuideType == filter["list"])
					{
						<tr @onclick="@(() => OnItemSelected(entity.GuideId))"
							onmouseover="this.style.color='#AAAAAA'"
							onMouseOut="this.style.color='#FFFFFF'">
							@*
							<td @onclick="@(() => _nav.NavigateTo("/LocationDetails?pod="+pod+"&pid="+pid+"&id="+entity.LocationId+"&prevPage=/Location"))" onmouseover="this.style.color='#AAAAAA'" onMouseOut="this.style.color='#FFFFFF'">
								@entity.PodFk   @entity.LocationId   @entity.LocationStatus   @entity.LocationType   @entity.LocationLabel16   @entity.LocationDesc
							</td>
							*@

							<td>@entity.GuideId</td>
							<td>@entity.GuideStatus</td>
							<td>@entity.GuideType</td>
							<td>@entity.GuideLabel</td>
							<td>@entity.GuidePurpose</td>
						</tr>
					}
					// Display only the goal's description
				}
			</table>
		</div>
	}

	<!-- ********************************************************************************* -->
	<!-- ************************************* GUIDE CREATE ****************************** -->
	<!-- ********************************************************************************* -->
	@if (show == "add")
	{
		<br>
		<div style="font-size:x-large; ">
			<form @onsubmit="OnCreate">

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<div class="boxFilter">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitCreate" type="submit"></button>
				</div>

				<div class="exhibitInfo" style="overflow-y:scroll;">

					<label>
						Label:
						<input class="form-control" @bind="@entity["add"].GuideLabel" maxlength="16" required />
					</label><br>
                    <label>
                        Purpose:
                        <input class="form-control" @bind="@entity["add"].GuidePurpose" maxlength="255" required />
                    </label><br>

                    <label>
                        Status:
                        <input class="form-control" @bind="@entity["add"].GuideStatus" maxlength="1" required />
                    </label><br>

                    <label>
                        Image:
                        <input class="form-control" @bind="@entity["add"].GuideImage" required />
                    </label><br>


				</div>

				<div class="exhibitInfo2">
					<label>
						Type:
						<select @bind="@entity["add"].GuideType" required>
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "GUID")
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>



					<label>
						DT Origin:
						<input class="form-control" @bind="@entity["add"].GuideDtOrgin" required />
					</label><br>

					<label>
						DT Revision:
						<input class="form-control" @bind="@entity["add"].GuideDtRevision" required />
					</label><br>

					<label>
						NOVA:
						<input class="form-control" @bind="@entity["add"].NovaIdFk" maxlength="32" required />
					</label><br>

					<label>
						Program:
						<input class="form-control" @bind="@entity["add"].ProgramIdFk" maxlength="32" required />
					</label><br>
				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* Guide CHANGE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("change"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnChange">
				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<div class="boxFilter">
					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["change"]" @onchange="@(e => OnChangeFilterChanged(e, "change"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "GUID")
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["change"].GuideId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "change"); })">
								@foreach (var entity in (filter["change"] == "****") ? entities : entities.Where(entity => entity.GuideType == filter["change"]))
								{
									<option value="@entity.GuideId"> @entity.GuideLabel</option>
								}
							</select>
						</label>
					</div>

					<!-- ******** commit panel ******** -->
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<!-- ******** commit button ******** -->
					<button class="commitChange" type="submit"></button>
				</div>

				<div class="exhibitInfo" style="overflow-y:scroll;">
					<label>
						Label:
						<input class="form-control" @bind="@entity["change"].GuideLabel" maxlength="16" required />
					</label><br>

                    <label>
                        Purpose:
                        <input class="form-control" @bind="@entity["change"].GuidePurpose" maxlength="255" required />
                    </label><br>

                    <label>
                        Status:
                        <input class="form-control" @bind="@entity["change"].GuideStatus" maxlength="1" required />
                    </label><br>

                    <label>
                        Image:
                        <input class="form-control" @bind="@entity["change"].GuideImage" required />
                    </label><br>

				</div>

				<div class="exhibitInfo2">
					<label>
						Type:
						<select @bind="@entity["change"].GuideType">
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "GUID")
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>



					<label>
						DT Origin:
						<input class="form-control" @bind="@entity["change"].GuideDtOrgin" required />
					</label><br>

					<label>
						DT Revision:
						<input class="form-control" @bind="@entity["change"].GuideDtRevision" required />
					</label><br>

					<label>
						NOVA:
						<input class="form-control" @bind="@entity["change"].NovaIdFk" maxlength="32" required />
					</label><br>

					<label>
						Program:
						<input class="form-control" @bind="@entity["change"].ProgramIdFk" maxlength="32" required />
					</label><br>
				</div>
			</form>
		</div>
	}



	<!-- ************************************************************************************ -->
	<!-- ************************************* GUIDE DELETE ****************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("delete"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnDelete">

				<div class="ShadowText">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png"
						 style="border-radius: 12px;background-size: cover;">
				</div>

				<div class="boxFilter">

					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["delete"]" @onchange="@(e => OnChangeFilterChanged(e, "delete", "D"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "GUID")
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["delete"].GuideId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "delete"); })">
								@foreach (var entity in (filter["delete"] == "****") ? entities : entities.Where(entity => entity.GuideType == filter["delete"]))
								{
									if (entity.GuideStatus == "D")
									{
										<option value="@entity.GuideId"> @entity.GuideLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitDelete" type="submit"></button>
				</div>
				<div class="exhibitInfo" style="overflow-y:scroll;">
					Only if the Status = D
				</div>
			</form>
		</div>
	}
</div>



