@page "/Task"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _configuration
@inject NounService nounService
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.Common;
@using IntelChat.Services;

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Language.png");		 /*Background to blob*/
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		background-color: #000000;
		color: antiquewhite;
		opacity: 80%;
		width: 1920px;
		height: 1080px;
	}

	#btn-luster-task {
		content: url("https://agineuralnet.blob.core.windows.net/buttons/btn_TASK.png");
		position: absolute;
		top: 85px;
		left: 820px;
		width: 140px;
		border-radius: 8px;
		background-size: cover;
	}
</style>

<div class="crud-page">

	<!-- ************************************************************************************ -->
	<!-- *************************** Lock onto a Person and a POD *************************** -->
	<!-- ************************************************************************************ -->
	<p style="color:#333333;font-size:24px">Pod: @pod</p><br>
	<p style="color:#333333;font-size:24px;top:48px;position:absolute">Pid: @pid</p>

	<!-- ************************************************************************************ -->
	<!-- ********************************** DISPLAY PANELS ********************************** -->
	<!-- ************************************************************************************ -->
	<div><img id="img-panel-marque"></div>
	<div><img id="btn-luster-task"></div>
	<div><img id="img-panel-fluer"></div>

	<div><img id="img-table"></div>

	<!-- ************************************************************************************ -->
	<!-- **************************** DISPLAY PANEL CRUD BUTTONS **************************** -->
	<!-- ************************************************************************************ -->
	<div class="boxButton">
		<button id="btn-panel-list"   @onclick="@(() => show = "list")"></button>
		<button id="btn-panel-add"    @onclick="@(() => show = "add")"></button>
		<button id="btn-panel-change" @onclick="@(() => show = "change")"></button>
		<button id="btn-panel-delete" @onclick="@(() => show = "delete")"></button>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** DOWNLOAD REPORT ******************************** -->
	<!-- ************************************************************************************ -->
	<div style="position:absolute; left: 1340px; top:300px;">
		<download-button @onclick="@(()=>_nav.NavigateTo("/DownloadPDF?pod="+pod+"&pid="+pid+"&entity="+pageName))">
			Download PDF
		</download-button>
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** DIRECT SELECT ID ******************************* -->
	<!-- ************************************************************************************ -->
	<div class="DirectSelect">
		<input id="directSelectId" class="FilterInput" type="text"
			   @oninput="UpdateDirectSelectId"
			   @onkeydown="HandleDirectSelectKeyPress"
			   placeholder="Enter ID" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- *********************************** TAG FILTERING ********************************** -->
	<!-- ************************************************************************************ -->
	<div class="TagFilter">
		<input id="tagFilter" class="FilterInput" @bind="tagFilter" @oninput="ApplyTagFilter" placeholder="Enter Tag" />
	</div>

	<!-- ************************************************************************************ -->
	<!-- ***********************************  TASK LIST  ************************************ -->
	<!-- ************************************************************************************ -->
	@if (show == "list")
	{
	
	<div class="ShadowText">
			<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
	</div>	
		
	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Lascaux?pod="+pod+"&pid="+pid+"&type=TASK"))" title="Create TEMP file from DD list - Page_Lascaux"
				style="z-index:2;position:absolute;left:340px;top:240px;height:60px;border:0px;width:140px;color:darkred">
		Lascaux
	</button>

		
	<!-- ****************************** PypeId is the primary value for the Dropdown selection ***************** -->
		<div class="exhibitPanel">
			<div class="ListFilter">
				<label>
					<select value="@filter["list"]" @onchange="@(e => filter["list"] = e.Value.ToString())">
						<option value="****">****</option>
						@foreach (var pype in pypes)
						{
							if (pype.PypeId == "TASK")
							{
								<option value="@pype.PypeType">@pype.PypeLabel</option>
							}
						}
					</select>
				</label>
			</div>

			@{
				// Filter the entities based on the selected value
				var filteredEntities = (filter["list"] == "****")
					? entities
					: entities.Where(entity => entity.TaskType == filter["list"]);

				Page_Task.novaT.novaParamValue = string.Join(",", filteredEntities.Select(entity => entity.NovaIdFk));
				//Console.WriteLine($"Filtered NovaIdFk values Work: {Page_Task.novaT.novaParamValue}");
			}


			<table id="listTable">
				@*A "table" (really a list) of all records of the same type as selected table crud value*@
				<thead>
					<tr>
						<th>POD</th>
						<th>ID#</th>
						<th>Status</th>
						<th>Type</th>
						<th>Label</th>
						<th>Description</th>
					</tr>
				</thead>

				@foreach (var entity in entities)
				{   // Loop through each label of the currently selected table
					@if (filter["list"] == "****" || entity.TaskType == filter["list"])
					{
						<tr @onclick="@(() => OnItemSelected(entity.TaskId))"
							onmouseover="this.style.color='#AAAAAA'"
							onMouseOut="this.style.color='#FFFFFF'">
							@*
				<td @onclick="@(() => _nav.NavigateTo("/LocationDetails?pod="+pod+"&pid="+pid+"&id="+entity.LocationId+"&prevPage=/Location"))" onmouseover="this.style.color='#AAAAAA'" onMouseOut="this.style.color='#FFFFFF'">
				@entity.PodFk   @entity.LocationId   @entity.LocationStatus   @entity.LocationType   @entity.LocationLabel16   @entity.LocationDesc
				</td>
				*@
							<td>@entity.PodIdFk</td>
							<td>@entity.TaskId</td>
							<td>@entity.TaskStatus</td>
							<td>@entity.TaskType</td>
							<td>@entity.TaskLabel32</td>
							<td>@entity.TaskDescription</td>
						</tr>
					}
					// Display only the goal's description
				}
			</table>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* TASK CREATE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show == "add")
	{
		<br>
		<div style="font-size:x-large; ">
			<form @onsubmit="OnCreate">

				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<div class="boxFilter">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitCreate" type="submit"></button>
				</div>

				<div class="exhibitInfo" style="overflow-y:scroll;">

					<label>
						Label 32:
						<input class="form-control" @bind="@entity["add"].TaskLabel32" maxlength="32" required />
					</label><br><br>

                    <label>
                        Description:
                        <input class="form-control" @bind="@entity["add"].TaskDescription" maxlength="255" required />
                    </label><br>





                    <label>
                        Status:
                        <input class="form-control" @bind="@entity["add"].TaskStatus" maxlength="1" required />
                    </label><br>

					<label>
						Parent Task:
						<input class="form-control" @bind="@entity["add"].TaskParent" />
					</label><br>

                    <label>
                        Level:
                        <input class="form-control" @bind="@entity["add"].TaskPlatue" required />
                    </label><br>




					<label>
						URL:
						<input class="form-control" @bind="@entity["add"].TaskUrl" />
					</label><br>

                    <label>
                        POD's duration:
                        <input class="form-control" @bind="@entity["add"].TaskDuration" maxlength="16" required />
                    </label><br>

					<label>
						Sort Sequence:
						<input class="form-control" @bind="@entity["add"].TaskSeq" required />
					</label><br>

					<label>
						Tag: (contains)
					</label><br>

					<textarea style="width:700px;height:80px; ">
						<input class="form-control" @bind="@entity["add"].TaskTag" maxlength="1024" required />
					</textarea>
				</div>

				<div class="exhibitInfo2">

					<label>
						Type:
						<select @bind="@entity["add"].TaskType" required>
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "TASK")
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>

					<label>
						Start Date:
						<input type="date" class="form-control" @bind="@entity["add"].TaskStartDate" required />
					</label><br>

					<label>
						Finish Date:
						<input type="date" class="form-control" @bind="@entity["add"].TaskFinishDate" />
					</label><br>

					<label>
						Entry Date:
						<input type="date" class="form-control" @bind="@entity["add"].TaskEntryDate" required />
					</label><br>

					<label>
						Previous Task:
						<input class="form-control" @bind="@entity["add"].TaskPrevious" required />
					</label><br>

					<label>
						Person:
						<input class="form-control" @bind="@entity["add"].PersonIdFk" required />
					</label><br>

					<label>
						NOVA:
						<input class="form-control" @bind="@entity["add"].NovaIdFk" required />
					</label><br>

					<label>
						Noun (object):
						<input class="form-control" @bind="@entity["add"].NounIdFk" required />
					</label><br>


				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* TASK CHANGE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("change"))


	{
		<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Work?pod="+pod+"&pid="+pid))" title="Enter WORK for selected TASK - Page_Work"
				style="z-index:2;position:absolute;left:1180px;top:360px;height:60px;border:0px;width:140px;color:darkred">
			Work
		</button>


		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnChange">
				<div class="ShadowText">
					<img id="img-panel-shadow-black" src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png">
				</div>

				<!-- ************************************* Commit to Change ********************************** -->
				<div class="boxFilter">
					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["change"]" @onchange="@(e => OnChangeFilterChanged(e, "change"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "TASK")
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["change"].TaskId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "change"); })">
								@foreach (var entity in (filter["change"] == "****") ? entities : entities.Where(entity => entity.TaskType == filter["change"]))
								{
									<option value="@entity.TaskId"> @entity.TaskLabel32</option>
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitChange" type="submit"></button>
				</div>

				<!-- ************************************* Display TASK Data ********************************** -->
				<div class="exhibitInfo" style="overflow-y:scroll;">
					<label>
						Label 32:
						<input class="form-control" @bind="@entity["change"].TaskLabel32" maxlength="32" required />		</label><br><br>
                    <label>
                        Description:
                        <input class="form-control" @bind="@entity["change"].TaskDescription" maxlength="255" required />	</label><br>
                    <label>
                        Status:
                        <input class="form-control" @bind="@entity["change"].TaskStatus" maxlength="1" required />
                    </label><br>
					<label>
						Parent Task:
						<input class="form-control" @bind="@entity["change"].TaskParent" />
					</label><br>

                    <label>
                        Level:
                        <input class="form-control" @bind="@entity["change"].TaskPlatue" required />							</label><br>

					<label>
						Parent Task:
						<input class="form-control" @bind="@entity["change"].TaskParent" />									</label><br>
					<label>
						URL:
						<input class="form-control" @bind="@entity["change"].TaskUrl" />									</label><br>
                    <label>
                        POD's duration:
                        <input class="form-control" @bind="@entity["change"].TaskDuration" maxlength="16" required />		</label><br>
					<label>
						Sort Sequence:
						<input class="form-control" @bind="@entity["change"].TaskSeq" />									</label><br>

					@{
						novaT.tempTaskId = entity["change"].TaskId;
					}

					<label>
						Tag: (contains)					</label><br>
					<textarea style="width:700px;height:80px; ">
						<input class="form-control" @bind="@entity["change"].TaskTag" maxlength="1024" required />
					</textarea>

				</div>

				<div class="exhibitInfo2">
					<label>
						Type:
						<select @bind="@entity["change"].TaskType">
							<option value="">****</option>
							@foreach (var pype in pypes)
							{
								if (pype.PypeId == "TASK")
								{
									<option value="@pype.PypeType">@pype.PypeLabel</option>
								}
							}
						</select>
					</label><br><br>

					<label>
						Start Date:
						<input type="date" class="form-control" @bind="@entity["change"].TaskStartDate" required />		</label><br>
					<label>
						Finish Date:
						<input type="date" class="form-control" @bind="@entity["change"].TaskFinishDate" />				</label><br>
					<label>
						Entry Date:
						<input type="date" class="form-control" @bind="@entity["change"].TaskEntryDate" required />		</label><br>
					<label>
						Previous Task:
						<input class="form-control" @bind="@entity["change"].TaskPrevious" required />					</label><br>
					<label>
						Person:
						<input class="form-control" @bind="@entity["change"].PersonIdFk" required />					</label><br>
					<label>
						NOVA:
						<input class="form-control" @bind="@entity["change"].NovaIdFk" required />						</label><br>
					<label>
						Noun (object)::
						<input class="form-control" @bind="@entity["change"].NounIdFk" required />						</label><br>
				</div>


			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* TASK DELETE ********************************** -->
	<!-- ************************************************************************************ -->
	@if (show.Equals("delete"))
	{
		<div style="font-size:x-large; display: inline-block;">
			<form @onsubmit="OnDelete">

				<div class="ShadowText">
					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Shadow.png"
						 style="border-radius: 12px;background-size: cover;">
				</div>

				<div class="boxFilter">

					<div class="PypeTypeFilter">
						<label>
							<select value="@filter["delete"]" @onchange="@(e => OnChangeFilterChanged(e, "delete", "D"))">
								<option value="****">****</option>
								@foreach (var pype in pypes)
								{
									if (pype.PypeId == "TASK")
									{
										<option value="@pype.PypeType">@pype.PypeLabel</option>
									}
								}
							</select>
						</label>
					</div>

					<div class="PypeType">
						<label>
							<select class="form-control" value="@entity["delete"].TaskId" @onchange="@(e => { var id = Int32.Parse(e.Value.ToString()); AutoFill(id, "delete"); })">
								@foreach (var entity in (filter["delete"] == "****") ? entities : entities.Where(entity => entity.TaskType == filter["delete"]))
								{
									if (entity.TaskStatus == "D")
									{
										<option value="@entity.TaskId"> @entity.TaskLabel32</option>
									}
								}
							</select>
						</label>
					</div>

					<img src="https://agineuralnet.blob.core.windows.net/panels/Panel_Commit.png"
						 style="border-radius: 12px;background-size: cover;">
					<button class="commitDelete" type="submit"></button>
				</div>
				<div class="exhibitInfo" style="overflow-y:scroll;">
					Only if the Status = D
				</div>
			</form>
		</div>
	}

	<!-- ************************************************************************************ -->
	<!-- ************************************* HELP Overlay ********************************* -->
	<!-- ************************************************************************************ -->
	@if (showIframe)
	{
		<div>
			<iframe src="@imagePath" width="1400" height="920" frameborder="0"
					style="position:absolute; top:0px;left:0px;width:1920px; height:1080px; opacity:90%;">
			</iframe>
			<br />
			<button class="general-menu-button" @onclick="CloseIframe"
					style="position:absolute; top:400px;left:40px; opacity:100%;height:60px;border:0px;brightness:100%;width:140px;color:red">
				Close
			</button>
		</div>
	}
	else
	{
		<button class="general-menu-button" @onclick="OpenIframe"
				style="position:absolute; top:400px;left:40px; opacity:80%;height:60px;border:0px;width:140px;color:red">
			HELP
		</button>
	}
	@code {
		private bool showIframe = false;
		private string imagePath = "https://agineuralnet.blob.core.windows.net/background/BG_CRUD_page_help.png";

		private void OpenIframe()
		{ showIframe = true; }

		private void CloseIframe()
		{ showIframe = false; }
	}


	<!-- ************************************************************************************ -->
	<!-- ******************************** NAVIGATION Buttons ******************************** -->
	<!-- ************************************************************************************ -->

	<button class="general-menu-button" @onclick="NavigateToLascaux"
			style="position:absolute;left:30px;top:600px;height:60px;border:0px;width:140px;color:red">
		MEMO
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/NovaCrud?pod="+pod+"&pid="+pid))"
			style="Z-index:1;top:680px;left:30px;height:60px;width:140px;">
		NOVA
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Grid?pod="+pod+"&pid="+pid+"&entity="+pageName))"
			style="position:absolute;left:30px;top:760px;height:60px;border:0px;width:140px;">
		GRID
	</button>

	<button class="general-menu-button" @onclick="@(()=>_nav.NavigateTo("/Expert?pod="+pod+"&pid="+pid))"
			style="position:absolute;left:30px;top:840px;height:60px;border:0px;width:140px;">
		MENU
	</button>
</div>



