@model IntelChat.Models.Brand

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Brand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelAlpha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelAlpha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelBeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelBeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelGamma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelGamma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CntMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CntMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CntReg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CntReg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eligibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eligibility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegDateClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegDateClosed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveGuideId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveGuideId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuLock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuLock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScopeLock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScopeLock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Brandid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
