@model IEnumerable<IntelChat.Models.Brand>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelAlpha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelBeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelGamma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CntMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CntReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eligibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegDateClosed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveGuideId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuLock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScopeLock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelAlpha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelBeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelGamma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CntMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CntReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eligibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegDateClosed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveGuideId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuLock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScopeLock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Brandid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Brandid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Brandid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
